Repository getsentry/sentry-javascript, pull requests merged in 2022-11, with the labels that each got.

#6093 fix(aws): Move relay to port 5333 to avoid collisions
  packages/serverless/src/awslambda.ts
Labels: Feature: Serverless

#6094 chore(otel): Add basic usage instructions to readme
  packages/opentelemetry-node/README.md
Labels: Type: Documentation, Package: otel-node

#6113 feat(otel): Updates to otel span processor
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/src/utils/parse-otel-span-description.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6114 feat(otel): Add inject functionality to SentryPropagator
  packages/opentelemetry-node/src/propagator.ts
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/test/propagator.test.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6116 feat(otel): Ignore outgoing Sentry HTTP requests from otel integration
  packages/opentelemetry-node/package.json
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/src/utils/is-sentry-request.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6126 chore(otel): Update README to add SentryPropagator info
  packages/opentelemetry-node/README.md
Labels: Package: otel-node

#6115 feat(otel): Add extract functionality to SentryPropagator
  packages/opentelemetry-node/src/constants.ts
  packages/opentelemetry-node/src/propagator.ts
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/test/propagator.test.ts
Labels: Package: otel-node

#6128 feat(core): Add `instrumenter` option to `ClientOptions`
  packages/node/src/sdk.ts
  packages/node/test/index.test.ts
  packages/types/src/index.ts
  packages/types/src/instrumenter.ts
  packages/types/src/options.ts
Labels: Type: Feature, Package: core

#6136 feat(tracing): Allow to set `instrumenter` on Span & Transaction
  packages/tracing/src/span.ts
  packages/tracing/test/span.test.ts
  packages/tracing/test/transaction.test.ts
  packages/types/src/span.ts
  packages/types/src/transaction.ts
Labels: Type: Feature, Package: tracing

#6144 feat(otel): Disable node tracing auto instrumentation when using otel
  packages/node/src/handlers.ts
  packages/node/src/integrations/http.ts
  packages/node/test/helper/node-client-options.ts
  packages/node/test/integrations/http.test.ts
  packages/tracing/src/integrations/node/apollo.ts
  packages/tracing/src/integrations/node/express.ts
  packages/tracing/src/integrations/node/graphql.ts
  packages/tracing/src/integrations/node/mongo.ts
  packages/tracing/src/integrations/node/mysql.ts
  packages/tracing/src/integrations/node/postgres.ts
  packages/tracing/src/integrations/node/prisma.ts
  packages/tracing/src/integrations/node/utils/node-utils.ts
  packages/tracing/test/integrations/apollo.test.ts
  packages/tracing/test/integrations/graphql.test.ts
  packages/tracing/test/integrations/node/mongo.test.ts
  packages/tracing/test/integrations/node/postgres.test.ts
  packages/tracing/test/integrations/node/prisma.test.ts
  packages/tracing/test/testutils.ts
Labels: Package: otel-node

#6154 feat(tracing): Add `transaction.setContext` method
  packages/opentelemetry-node/test/spanprocessor.test.ts
  packages/tracing/src/transaction.ts
  packages/tracing/test/transaction.test.ts
  packages/types/src/transaction.ts
Labels: Package: otel-node

#6159 fix(otel): Ensure we properly set the context for transactions
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6145 chore(ci): Only run CI tests when related files changed
  .github/workflows/build.yml
Labels: Dev: CI

#6152 fix(otel): Remove sampling decision in propagator
  packages/opentelemetry-node/src/propagator.ts
  packages/opentelemetry-node/src/spanprocessor.ts
Labels: Package: otel-node

#6160 fix(otel): Add transaction source logic to otel spans
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/src/utils/parse-otel-span-description.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6166 chore(ci): Always run Next.js & Node SDK tests
  .github/workflows/build.yml
Labels: Dev: CI

#6153 feat(otel): Handle inconsistent `instrumenter` option
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/tracing/src/hubextensions.ts
  packages/tracing/test/hub.test.ts
Labels: Package: otel-node

#6164 chore(ember): Make tests less brittle
  packages/ember/tests/acceptance/sentry-performance-test.js
Labels: Package: ember, Dev: CI

#6184 chore: Update craft config in preparation for otel release
  .craft.yml
Labels: Dev: Build

#6187 chore(otel): Make @sentry/opentelemetry-node public
  packages/opentelemetry-node/package.json
Labels: Package: otel-node

#6180 chore(ci): Add new Ci job that runs after required test jobs
  .github/workflows/build.yml
Labels: Dev: CI

#6225 ci(deps): Setup dependabot for Github Actions
  .github/dependabot.yml
Labels: dependencies, Dev: CI

#6227 feat(vue): Check if SDK is initialized before app is mounted
  packages/vue/package.json
  packages/vue/src/sdk.ts
  packages/vue/test/integration/init.test.ts
  yarn.lock
Labels: Package: vue

#6235 ci: Do not run E2E tests for dependabot PRs
  .github/workflows/build.yml
Labels: Dev: CI

#6236 build: Update (internal) node version to 16.x
  .github/workflows/build.yml
  .github/workflows/canary.yml
  package.json
Labels: Dev: CI, Dev: Build

#6245 ci: Make `job_build` required to pass
  .github/workflows/build.yml
Labels: Dev: CI

#6248 ci: Fix size check action to run on master
  .github/workflows/build.yml
Labels: Dev: CI

#6259 fix(tracing): Pass `tracePropagationTargets` to `instrumentOutgoingRequests`
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargets/init.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargets/subject.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargets/test.ts
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargetsAndOrigins/init.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargetsAndOrigins/subject.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargetsAndOrigins/test.ts
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTracingOrigins/init.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTracingOrigins/subject.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTracingOrigins/test.ts
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsMatch/init.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsMatch/subject.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsMatch/test.ts
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsNoMatch/init.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsNoMatch/subject.js
  packages/integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsNoMatch/test.ts
  packages/tracing/src/browser/browsertracing.ts
  packages/tracing/src/browser/request.ts
  packages/tracing/test/browser/browsertracing.test.ts
  packages/tracing/test/browser/request.test.ts
Labels: Package: tracing

#6275 build(ember): Remove unused `build:extras` for ember package
  packages/ember/package.json
Labels: Package: ember, Dev: Build

#6286 ref(replay): TS fixes for replay
  packages/core/test/mocks/transport.ts
  packages/replay/jest.setup.ts
  packages/replay/package.json
  packages/replay/src/coreHandlers/breadcrumbHandler.ts
  packages/replay/src/coreHandlers/getBreadcrumbHandler.ts
  packages/replay/src/coreHandlers/getSpanHandler.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/handleFetch.ts
  packages/replay/src/coreHandlers/handleHistory.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/coreHandlers/spanHandler.ts
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/index.ts
  packages/replay/src/types.ts
  packages/replay/src/util/createPayload.ts
  packages/replay/src/util/dedupePerformanceEntries.ts
  packages/replay/src/util/logger.ts
  packages/replay/test/fixtures/error.ts
  packages/replay/test/fixtures/transaction.ts
  packages/replay/test/mocks/mockRrweb.ts
  packages/replay/test/utils/use-fake-timers.ts
  packages/replay/worker/src/Compressor.ts
  packages/replay/worker/src/handleMessage.ts
Labels: Package: replay

#6289 feat(core): Pass `event` as third argument to `recordDroppedEvent`
  packages/core/src/baseclient.ts
  packages/core/src/transports/base.ts
  packages/core/test/lib/base.test.ts
  packages/core/test/lib/transports/base.test.ts
  packages/types/src/client.ts
  packages/types/src/transport.ts
Labels: Package: core, Package: replay

#6304 ci: Ensure nextjs & node tests only run when files change
  .github/workflows/build.yml
Labels: Dev: CI

#6306 build(replay): Use proper volta config for replay
  packages/replay/package.json
Labels: Package: replay

#6305 fix(replay): Streamline logger usage
  packages/replay/jest.config.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/flags.ts
  packages/replay/src/index.ts
  packages/replay/src/session/createSession.ts
  packages/replay/src/session/getSession.ts
  packages/replay/src/util/logger.ts
Labels: Package: replay

#6313 test(replay): Improve replay test mocks
  packages/replay/__mocks__/@sentry/browser/index.ts
  packages/replay/test/mocks/mockRrweb.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/unit/session/Session.test.ts
Labels: Type: Tests, Package: replay

#6329 ci(replay): Ensure replay size limit excludes internal dependencies
  .size-limit.js
Labels: Dev: CI, Package: replay

#6328 ref(replay): Improve `isBrowser` check
  packages/replay/jest.setup.ts
  packages/replay/src/index.ts
  packages/replay/src/util/isBrowser.ts
  packages/replay/src/util/isInternal.ts
Labels: Package: replay

#6334 fix(otel): Set root transaction name to be route
  packages/opentelemetry-node/src/utils/parse-otel-span-description.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6316 ref(replay): Use `WINDOW` instead of `window`
  packages/replay/.eslintrc.js
  packages/replay/config/rollup.config.core.ts
  packages/replay/package.json
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/index.ts
  packages/replay/src/session/deleteSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/saveSession.ts
  packages/replay/src/util/isBrowser.ts
  packages/replay/src/util/isInternal.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/session/Session.test.ts
  packages/replay/test/unit/session/createSession.test.ts
  packages/replay/test/unit/session/deleteSession.test.ts
  packages/replay/test/unit/session/fetchSession.test.ts
  packages/replay/test/unit/session/getSession.test.ts
  packages/replay/test/unit/session/saveSession.test.ts
  packages/replay/test/unit/stop.test.ts
Labels: Package: replay

#6315 ref(replay): Extract sticky session handling
  packages/replay/src/index.ts
  packages/replay/src/session/Session.ts
  packages/replay/src/session/createSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/session/Session.test.ts
  packages/replay/test/unit/session/getSession.test.ts
  packages/replay/test/unit/session/saveSession.test.ts
  packages/replay/test/unit/util/isSessionExpired.test.ts
Labels: Package: replay

#6344 ref(replay): Enable `@typescript-eslint/no-floating-promises` rule
  packages/replay/.eslintrc.js
  packages/replay/src/eventBuffer.ts
  packages/replay/src/index.ts
Labels: Package: replay

#6345 fix(otel): Account for number status code
  packages/opentelemetry-node/src/utils/map-otel-status.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6347 ref(replay): Enable `no-console` rule
  packages/replay/.eslintrc.js
  packages/replay/src/eventBuffer.ts
  packages/replay/src/index.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/worker/src/handleMessage.ts
Labels: Package: replay

#6343 build(replay): Use Monorepo's rollup config to build Replay
  .size-limit.js
  packages/replay/.eslintrc.js
  packages/replay/.gitignore
  packages/replay/config/rollup.config.core.ts
  packages/replay/package.json
  packages/replay/rollup.config.worker.js
  packages/replay/rollup.npm.config.js
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/types.ts
  packages/replay/src/util/dedupePerformanceEntries.ts
  packages/replay/test/fixtures/performanceEntry/lcp.ts
  packages/replay/test/fixtures/performanceEntry/navigation.ts
  packages/replay/tsconfig.json
  packages/replay/tsconfig.types.json
Labels: Dev: Build, Package: replay

#6348 chore(replay): Cleanup `package.json` scripts
  packages/replay/package.json
Labels: Package: replay

#6350 test(replay): Fix replay test tsconfig
  packages/replay/test/tsconfig.json
Labels: Package: replay
