Repository getsentry/sentry-javascript, pull requests merged in 2022-09, with the labels that each got.

#5686 test(svelte): Add Svelte Testing Library and trackComponent tests
  packages/svelte/jest.config.js
  packages/svelte/package.json
  packages/svelte/test/components/Dummy.svelte
  packages/svelte/test/performance.test.ts
  scripts/test.ts
  yarn.lock
Labels: Type: Tests, Package: svelte

#5685 fix(gatsby): Include app-* entrypoints as they may include user source code
  packages/gatsby/gatsby-node.js
Labels: Package: gatsby

#5796 fix(remix): Use `require()` to get `react-router-dom` in Express wrapper.
  packages/remix/src/utils/serverAdapters/express.ts
Labels: Package: remix

#5769 chore(deps): Upgrade @embroider/macros
  packages/ember/package.json
  yarn.lock
Labels: Package: ember

#5810 fix(remix): Use import() to get `react-router-dom` in Express wrapper.
  packages/remix/src/utils/serverAdapters/express.ts
Labels: Package: remix

#5811 fix(remix): Do not skip error handling if tracing is not enabled.
  packages/remix/src/utils/instrumentServer.ts
Labels: Package: remix
