Repository getsentry/sentry-javascript, pull requests merged in 2022-02, with the labels that each got.

#4490 fix(tests): Make CLS web vital test less flaky
  packages/integration-tests/suites/tracing/metrics/web-vitals-cls/test.ts
Labels: Type: Tests

#4483 fix(vue): Cast name parameter to string
  packages/ember/addon/instance-initializers/sentry-performance.ts
  packages/vue/src/router.ts
Labels: Package: vue

#4426 Improve docs for configuring the ember SDK
  packages/ember/README.md
Labels: Status: Stale

#3729 ref(node): Refactor node source fetching into integration
  packages/nextjs/test/index.server.test.ts
  packages/node/src/backend.ts
  packages/node/src/eventbuilder.ts
  packages/node/src/integrations/contextlines.ts
  packages/node/src/integrations/index.ts
  packages/node/src/parsers.ts
  packages/node/src/sdk.ts
  packages/node/src/types.ts
  packages/node/test/index.test.ts
  packages/node/test/parsers.test.ts
Labels: Status: In Progress
