Repository getsentry/sentry-javascript, pull requests merged in 2022-08, with the labels that each got.

#4153 fix(browser): Set `:` as a part of gecko protocol regex group.
  packages/browser/src/stack-parsers.ts
  packages/browser/test/unit/tracekit/firefox.test.ts
  packages/integration-tests/suites/stacktraces/init.js
  packages/integration-tests/suites/stacktraces/protocol_containing_fn_identifiers/subject.js
  packages/integration-tests/suites/stacktraces/protocol_containing_fn_identifiers/test.ts
  packages/integration-tests/suites/stacktraces/protocol_fn_identifiers/subject.js
  packages/integration-tests/suites/stacktraces/protocol_fn_identifiers/test.ts
  packages/integration-tests/suites/stacktraces/regular_fn_identifiers/subject.js
  packages/integration-tests/suites/stacktraces/regular_fn_identifiers/test.ts
  packages/integration-tests/suites/stacktraces/template.hbs
  packages/integration-tests/utils/fixtures.ts
Labels: Status: In Progress

#5491 fix(remix): Paramaterize server side transactions
  packages/remix/src/utils/instrumentServer.ts
  packages/remix/test/integration/test/server/loader.test.ts
Labels: Package: remix

#5509 fix(remix): Provide `sentry-trace` and `baggage` via root loader.
  packages/remix/src/utils/instrumentServer.ts
  packages/remix/test/integration/app/root.tsx
  packages/remix/test/integration/test/client/meta-tags.test.ts
Labels: Package: remix

#5545 chore(remix): Update badge links in Remix README
  packages/remix/README.md
Labels: Package: remix

#5543 feat(svelte): Add Error and Performance Instrumentation from Browser SDK
  packages/svelte/package.json
  packages/svelte/src/index.ts
  packages/svelte/src/sdk.ts
  packages/svelte/test/sdk.test.ts
Labels: Package: svelte

#5548 fix(remix): Support merging `json` responses from root loader functions.
  packages/remix/package.json
  packages/remix/src/utils/instrumentServer.ts
  packages/remix/test/integration/app/root.tsx
  packages/remix/test/integration/test/client/root-loader.test.ts
  packages/remix/test/integration/test/server/action.test.ts
  packages/remix/test/integration/test/server/loader.test.ts
Labels: Package: remix

#5554 chore(svelte): Remove private field from package.json
  packages/svelte/package.json
Labels: Package: svelte

#5547 chore(svelte): Add entry for Svelte SDK in craft.yml
  .craft.yml
Labels: Package: svelte

#5524 feat(remix): Export a manual wrapper for custom Express servers.
  packages/remix/package.json
  packages/remix/src/index.server.ts
  packages/remix/src/utils/instrumentServer.ts
  packages/remix/src/utils/serverAdapters/express.ts
  packages/remix/src/utils/types.ts
  packages/remix/test/integration/app/routes/action-json-response/$id.tsx
  packages/remix/test/integration/test/server/action.test.ts
  packages/remix/test/integration/test/server/loader.test.ts
  packages/remix/test/integration/test/server/utils/helpers.ts
Labels: Package: remix

#5529 feat(tracing): Add long task collection
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-disabled/assets/script.js
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-disabled/init.js
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-disabled/template.html
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-disabled/test.ts
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-enabled/assets/script.js
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-enabled/init.js
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-enabled/template.html
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-enabled/test.ts
  packages/nextjs/test/integration/test/client/tracingFetch.js
  packages/nextjs/test/integration/test/utils/client.js
  packages/tracing/src/browser/browsertracing.ts
  packages/tracing/src/browser/metrics/index.ts
  packages/tracing/test/browser/browsertracing.test.ts
Labels: Feature: Performance

#5612 feat(svelte): Add Component Tracking
  packages/svelte/package.json
  packages/svelte/rollup.npm.config.js
  packages/svelte/src/constants.ts
  packages/svelte/src/index.ts
  packages/svelte/src/performance.ts
  packages/svelte/src/preprocessors.ts
  packages/svelte/src/types.ts
  packages/svelte/test/preprocessors.test.ts
  yarn.lock
Labels: Package: svelte
