Repository getsentry/sentry-javascript, pull requests merged in 2022-12, with the labels that each got.

#6364 fix(otel): Add trace info to error events
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6370 ref(replay): Remove deprecated replay options
  packages/replay/src/index.ts
Labels: Package: replay

#6358 build: Do not exclude `devDependencies` from rollup build
  rollup/npmHelpers.js
Labels: Dev: Build

#6379 Revert "build(replay): Remove replay version string replacement (#6367)"
  packages/replay/jest.setup.ts
  packages/replay/rollup.npm.config.js
  packages/replay/src/index.ts
  packages/replay/src/types.ts
Labels: Dev: Build, Package: replay

#6394 build(replay): Fix peer dependency version
  packages/replay/package.json
Labels: Package: replay

#6387 feat(replay): Allow to define sample rates on SDK level
  packages/browser/src/client.ts
  packages/replay/jest.setup.ts
  packages/replay/src/index.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/unit/blockAllMedia.test.ts
  packages/replay/test/unit/index-integrationSettings.test.ts
Labels: Package: replay

#6299 fix(replay): Ensure dropped errors are removed from replay reference
  packages/replay/src/index.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
Labels: Package: replay

#6398 docs(replay): Update replay README
  packages/replay/README.md
Labels: Type: Documentation, Package: replay

#6405 docs(replay): Add MIGRATION.md & add badges to README.md
  MIGRATION.md
  packages/replay/MIGRATION.md
  packages/replay/README.md
Labels: Type: Documentation, Package: replay

#6399 build(replay): Streamline tsconfig & jest config
  .vscode/settings.json
  packages/replay/.eslintrc.js
  packages/replay/jest.config.ts
  packages/replay/test/mocks/index.ts
  packages/replay/test/unit/coreHandlers/handleFetch.test.ts
  packages/replay/test/unit/coreHandlers/handleScope-unit.test.ts
  packages/replay/test/unit/createPerformanceEntry.test.ts
  packages/replay/test/unit/eventBuffer.test.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
  packages/replay/test/unit/index-integrationSettings.test.ts
  packages/replay/test/unit/index-noSticky.test.ts
  packages/replay/test/unit/index-sampling.test.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/stop.test.ts
  packages/replay/test/unit/util/dedupePerformanceEntries.test.ts
  packages/replay/tsconfig.json
  packages/replay/tsconfig.test.json
Labels: Dev: Build, Package: replay

#6416 ref(replay): Streamline replay EventBuffer implementation
  packages/replay/MIGRATION.md
  packages/replay/src/eventBuffer.ts
  packages/replay/src/index.ts
Labels: Package: replay

#6427 build(dev-deps): bump @prisma/client from 3.12.0 to 3.15.2
  packages/node-integration-tests/package.json
  yarn.lock
Labels: dependencies, Dev: Build

#6335 fix(replay): fix rrweb issue & vendor it
  .github/workflows/build.yml
  package.json
  packages/replay/package.json
  packages/replay/rollup.npm.config.js
  patches/rrweb+1.1.3.patch
  yarn.lock
Labels: Dev: Build, Package: replay

#6417 ref(replay): Make Session a POJO
  packages/replay/MIGRATION.md
  packages/replay/src/session/Session.ts
  packages/replay/src/session/createSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/getSession.ts
  packages/replay/test/unit/session/Session.test.ts
  packages/replay/test/unit/session/fetchSession.test.ts
  packages/replay/test/unit/session/getSession.test.ts
  packages/replay/test/unit/session/saveSession.test.ts
  packages/replay/test/unit/util/isSessionExpired.test.ts
Labels: Package: replay

#6407 ref(replay): Split replay integration & container class
  packages/replay/MIGRATION.md
  packages/replay/jest.setup.ts
  packages/replay/src/index.ts
  packages/replay/src/replay.ts
  packages/replay/test/mocks/index.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
  packages/replay/test/unit/index-noSticky.test.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/stop.test.ts
Labels: Package: replay

#6443 ref(angular): Extract zonejs error unwrapper into a dedicated function
  packages/angular/src/errorhandler.ts
Labels: Package: angular

#6457 ref(replay): Extract integration to clarify public API
  packages/replay/src/index.ts
  packages/replay/src/integration.ts
Labels: Package: replay

#6454 ref(replay): Avoid overwriting user `checkoutEveryNms` config
  packages/replay/src/replay.ts
Labels: Package: replay

#6461 fix(tracing): Check for otel before loading db module
  packages/tracing/src/integrations/node/apollo.ts
  packages/tracing/src/integrations/node/graphql.ts
  packages/tracing/src/integrations/node/mongo.ts
  packages/tracing/src/integrations/node/mysql.ts
  packages/tracing/src/integrations/node/postgres.ts
Labels: Package: otel-node

#6438 test(replay): Streamline replay mocking
  packages/replay/src/integration.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/mocks/resetSdkMock.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
  packages/replay/test/unit/index.test.ts
Labels: Package: replay

#6448 ref(replay): Extract some functions out from class
  packages/replay/jest.setup.ts
  packages/replay/src/constants.ts
  packages/replay/src/coreHandlers/breadcrumbHandler.ts
  packages/replay/src/coreHandlers/handleFetch.ts
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/replay/src/coreHandlers/handleHistory.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/coreHandlers/performanceObserver.ts
  packages/replay/src/coreHandlers/spanHandler.ts
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/replay.ts
  packages/replay/src/session/Session.ts
  packages/replay/src/session/createSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/getSession.ts
  packages/replay/src/session/saveSession.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/addMemoryEntry.ts
  packages/replay/src/util/createPayload.ts
  packages/replay/src/util/createPerformanceSpans.ts
  packages/replay/src/util/isSessionExpired.ts
  packages/replay/src/util/monkeyPatchRecordDroppedEvent.ts
  packages/replay/test/fixtures/performanceEntry/lcp.ts
  packages/replay/test/mocks/mockRrweb.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/mocks/resetSdkMock.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
  packages/replay/test/unit/index-noSticky.test.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/stop.test.ts
Labels: Package: replay

#6495 feat(core): Add `scope.getLastBreadcrumb()`
  packages/core/src/scope.ts
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
  packages/types/src/scope.ts
Labels: Package: core

#6487 ref(replay): Hide internal replay tracing behind experiments flag
  packages/replay/src/coreHandlers/handleFetch.ts
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addInternalBreadcrumb.ts
  packages/replay/src/util/isIngestHost.ts
  packages/replay/src/util/isInternal.ts
  packages/replay/src/util/shouldFilterRequest.ts
  packages/replay/test/unit/index-integrationSettings.test.ts
Labels: Package: replay

#6494 ref(replay): Avoid using private `hub._withClient`
  packages/replay/src/constants.ts
  packages/replay/src/replay.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/replay/src/util/getReplayEvent.ts
  packages/replay/test/unit/util/getReplayEvent.test.ts
  packages/replay/test/utils/getDefaultBrowserClientOptions.ts
Labels: Package: replay

#6499 docs: Add docs about internal event sending flow
  docs/event-sending.md
Labels: Type: Documentation

#6521 feat(replay): Do not capture errors originating from rrweb
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/replay/src/util/isRrwebError.ts
  packages/replay/test/unit/index-handleGlobalEvent.test.ts
Labels: Package: replay

#6523 ci: Skip build (and consecutive steps) when only changing .md files
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Labels: Dev: CI

#6527 ref(core): Move `getSdkMetadataForEnvelopeHeader` to utils
  packages/core/src/envelope.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/utils/src/envelope.ts
Labels: Package: replay

#6507 fix(core): Make `beforeSend` handling defensive for different event types
  packages/core/src/baseclient.ts
  packages/core/test/lib/base.test.ts
  packages/types/src/event.ts
  packages/types/src/index.ts
  packages/types/src/options.ts
Labels: Package: core

#6543 chore(build): Lower size-limit action limits
  .size-limit.js
Labels: Dev: Build

#6544 fix(replay): Make `maskAllText` selector more specific
  packages/replay/src/constants.ts
  packages/replay/src/integration.ts
  packages/replay/test/unit/index-integrationSettings.test.ts
  packages/replay/test/unit/index.test.ts
Labels: Package: replay

#6554 ci: Ensure replay changes trigger tests in all browser related packages
  .github/workflows/build.yml
Labels: Dev: CI

#6535 ci: Split node & browser unit tests
  .github/workflows/build.yml
  package.json
  scripts/test.ts
Labels: Dev: CI

#6564 build: Make sure yarn.lock changes
  yarn.lock
Labels: Dev: Build

#6568 fix(replay): Send `dsn` in envelope header if tunneling is enabled
  packages/core/src/envelope.ts
  packages/replay/src/replay.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/replay/test/unit/util/createReplayEnvelope.test.ts
  packages/utils/src/envelope.ts
Labels: Package: replay

#6445 ref(angular): Add more tests to the error handler
  packages/angular/test/errorhandler.test.ts
Labels: Package: angular

#6576 fix(replay): Cater for event processor returning null
  packages/replay/src/replay.ts
  packages/replay/src/util/getReplayEvent.ts
Labels: Type: Bug, Package: replay

#6600 fix(replay): Do not mangle `_metadata` in client options
  rollup/plugins/bundlePlugins.js
Labels: Type: Bug, Package: replay
