Repository getsentry/sentry-javascript, pull requests merged in 2022-10, with the labels that each got.

#5892 fix(vue): align span operations to new operations
  packages/vue/src/tracing.ts
Labels: Hacktoberfest 🎃

#5891 fix(tracing): align span operations to new operations
  packages/integration-tests/suites/tracing/metrics/web-vitals-fid/test.ts
  packages/node-integration-tests/suites/tracing/apollo-graphql/test.ts
  packages/node-integration-tests/suites/tracing/prisma-orm/test.ts
  packages/tracing/src/browser/metrics/index.ts
  packages/tracing/src/integrations/node/apollo.ts
  packages/tracing/src/integrations/node/express.ts
  packages/tracing/src/integrations/node/graphql.ts
  packages/tracing/src/integrations/node/prisma.ts
  packages/tracing/test/browser/metrics/index.test.ts
  packages/tracing/test/integrations/apollo.test.ts
  packages/tracing/test/integrations/graphql.test.ts
  packages/tracing/test/integrations/node/prisma.test.ts
Labels: Hacktoberfest 🎃

#5902 fix(utils): accept DSN URLs with empty password
  packages/utils/src/dsn.ts
  packages/utils/test/dsn.test.ts
Labels: Type: Bug

#5867 feat(tracing): Make BrowserTracing heartbeat interval configurable
  packages/tracing/src/browser/browsertracing.ts
  packages/tracing/src/hubextensions.ts
  packages/tracing/src/idletransaction.ts
  packages/tracing/test/browser/browsertracing.test.ts
  packages/tracing/test/idletransaction.test.ts
Labels: Hacktoberfest 🎃

#5926 fix(remix): Add yargs dependency for uploading sourcemaps
  packages/remix/package.json
  yarn.lock
Labels: Package: remix

#5992 fix(react): Update types to match react router 6.4 updates
  packages/react/src/reactrouterv6.tsx
Labels: Package: react

#6003 chore(ember): Update & cleanup Ember SDK
  .github/workflows/build.yml
  packages/ember/.ember-cli
  packages/ember/.eslintignore
  packages/ember/.eslintrc.js
  packages/ember/.gitignore
  packages/ember/.npmignore
  packages/ember/.template-lintrc.js
  packages/ember/README.md
  packages/ember/addon/ember.d.ts
  packages/ember/addon/instance-initializers/sentry-performance.ts
  packages/ember/config/ember-try.js
  packages/ember/ember-cli-build.js
  packages/ember/package.json
  packages/ember/scripts/run-CI-tests.js
  packages/ember/tests/acceptance/sentry-errors-test.js
  packages/ember/tests/acceptance/sentry-performance-test.js
  packages/ember/tests/dummy/app/components/link.hbs
  packages/ember/tests/dummy/app/components/link.ts
  packages/ember/tests/dummy/app/controllers/slow-loading-route/index.js
  packages/ember/tests/dummy/app/index.html
  packages/ember/tests/dummy/app/templates/application.hbs
  packages/ember/tests/dummy/config/ember-cli-update.json
  packages/ember/tests/dummy/config/environment.js
  packages/ember/tests/helpers/index.js
  packages/ember/tests/helpers/setup-sentry.js
  packages/ember/tests/index.html
  packages/ember/tests/test-helper.js
  packages/ember/types/global.d.ts
  yarn.lock
Labels: Type: Documentation, Type: Improvement, dependencies, Package: ember

#6014 fix(vue): Avoid Render Warning Loop in Vue3 Apps
  packages/browser/src/integrations/breadcrumbs.ts
Labels: Package: vue

#6022 chore(docs): Add commit, issue & PR guidelines
  CONTRIBUTING.md
Labels: Type: Documentation

#6034 chore: Ensure volta is setup for all packages
  packages/e2e-tests/package.json
  packages/integration-tests/package.json
  packages/node-integration-tests/package.json
Labels: Dev: Build

#6036 fix(tracing): Align missing express span operation names
  packages/node-integration-tests/suites/express/tracing/test.ts
  packages/tracing/src/integrations/node/express.ts
Labels: Type: Improvement, Package: tracing

#6043 fix(build): Prevent Rollup from adding `[Symbol.toStringTag]: 'Module'` to CJS files
  rollup/npmHelpers.js
Labels: Dev: Build

#6082 feat(otel): Map otel span data to Sentry transaction/span/context
  packages/opentelemetry-node/package.json
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/src/utils/map-otel-status.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Feature: Integrations, Package: otel-node

#6032 chore(ember): Show warning when using invalid config
  packages/ember/index.js
Labels: Package: ember
