Repository getsentry/sentry-javascript, pull requests merged in 2023-06, with the labels that each got.

#8095 ref(replay): Capture parametrized route
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addGlobalListeners.ts
Labels: Package: replay

#8256 feat(sveltekit): Add source maps support for Vercel (lambda)
  packages/sveltekit/.eslintrc.js
  packages/sveltekit/src/server/utils.ts
  packages/sveltekit/src/vite/injectGlobalValues.ts
  packages/sveltekit/src/vite/sentryVitePlugins.ts
  packages/sveltekit/src/vite/sourceMaps.ts
  packages/sveltekit/src/vite/svelteConfig.ts
  packages/sveltekit/test/server/utils.test.ts
  packages/sveltekit/test/vite/injectGlobalValues.test.ts
  packages/sveltekit/test/vite/sentrySvelteKitPlugins.test.ts
  packages/sveltekit/test/vite/sourceMaps.test.ts
  packages/sveltekit/test/vite/svelteConfig.test.ts
Labels: ci-skip-cache

#8226 feat(replay): Do not restart replays on "keydown"
  packages/replay/src/coreHandlers/handleKeyboardEvent.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
Labels: Package: replay

#8275 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8224 feat(replay): Improve types for replay recording events
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/src/index.ts
  packages/replay/src/replay.ts
  packages/replay/src/types/index.ts
  packages/replay/src/types/performance.ts
  packages/replay/src/types/replay.ts
  packages/replay/src/types/replayFrame.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/createBreadcrumb.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/test/integration/beforeAddRecordingEvent.test.ts
  packages/replay/test/integration/coreHandlers/handleScope.test.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
  packages/replay/test/unit/util/handleRecordingEmit.test.ts
Labels: Package: replay

#8258 fix(replay): Ignore max session life for buffered sessions
  packages/replay/src/replay.ts
  packages/replay/src/session/getSession.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/test/integration/errorSampleRate-delayFlush.test.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/unit/session/getSession.test.ts
Labels: Package: replay

#8329 fix(replay): Do not export types from `@sentry-internal/rrweb`
  packages/replay/src/index.ts
  packages/replay/test/integration/beforeAddRecordingEvent.test.ts
Labels: Type: Bug, Package: replay

#8337 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8322 feat(replay): Rework slow click & multi click detection
  packages/browser-integration-tests/suites/replay/slowClick/clickTargets/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/multiClick/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/mutation/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/scroll/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/template.html
  packages/browser-integration-tests/suites/replay/slowClick/timeout/test.ts
  packages/replay/src/constants.ts
  packages/replay/src/coreHandlers/handleClick.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/handleSlowClick.ts
  packages/replay/src/coreHandlers/util/domUtils.ts
  packages/replay/src/replay.ts
  packages/replay/src/types/replay.ts
  packages/replay/src/types/replayFrame.ts
  packages/replay/test/unit/coreHandlers/handleClick.test.ts
  packages/replay/test/unit/coreHandlers/handleDom.test.ts
  packages/replay/test/unit/coreHandlers/handleSlowClick.test.ts
Labels: Package: replay

#8315 feat(replay): Stop replay when event buffer exceeds max. size
  packages/replay/src/constants.ts
  packages/replay/src/eventBuffer/EventBufferArray.ts
  packages/replay/src/eventBuffer/EventBufferCompressionWorker.ts
  packages/replay/src/eventBuffer/index.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/test/unit/eventBuffer/EventBufferArray.test.ts
  packages/replay/test/unit/eventBuffer/EventBufferCompressionWorker.test.ts
  packages/replay/test/unit/util/addEvent.test.ts
Labels: Package: replay, CI-Overhead-Measurements

#8308 feat(replay): Consider `window.open` for slow clicks
  packages/browser-integration-tests/suites/replay/slowClick/template.html
  packages/browser-integration-tests/suites/replay/slowClick/windowOpen/test.ts
  packages/replay/src/coreHandlers/handleClick.ts
  packages/replay/src/coreHandlers/util/onWindowOpen.ts
Labels: Package: replay

#8277 feat(replay): Do not capture replays < 5 seconds (GA)
  packages/browser-integration-tests/suites/replay/bufferMode/test.ts
  packages/browser-integration-tests/suites/replay/fileInput/test.ts
  packages/browser-integration-tests/suites/replay/largeMutations/defaultOptions/test.ts
  packages/browser-integration-tests/suites/replay/largeMutations/mutationLimit/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/mutation/test.ts
  packages/browser-integration-tests/suites/replay/throttleBreadcrumbs/test.ts
  packages/e2e-tests/test-applications/standard-frontend-react/tests/fixtures/ReplayRecordingData.ts
  packages/replay/src/replay.ts
  packages/replay/src/types/replay.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/test/integration/coreHandlers/handleAfterSendEvent.test.ts
  packages/replay/test/integration/errorSampleRate-delayFlush.test.ts
  packages/replay/test/integration/errorSampleRate.test.ts
Labels: Package: replay

#8394 ref(replay): More graceful `sessionStorage` check
  packages/replay/src/session/clearSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/saveSession.ts
  packages/replay/src/util/hasSessionStorage.ts
Labels: Package: replay

#8419 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
