Repository getsentry/sentry-javascript, pull requests merged in 2023-03, with the labels that each got.

#7300 ci: Add new metrics overhead app
  packages/overhead-metrics/configs/ci/collect.ts
  packages/overhead-metrics/configs/dev/collect.ts
  packages/overhead-metrics/package.json
  packages/overhead-metrics/src/results/metrics-stats.ts
  packages/overhead-metrics/src/scenarios.ts
  packages/overhead-metrics/src/vitals/cls.ts
  packages/overhead-metrics/test-apps/booking-app/index.html
  packages/overhead-metrics/test-apps/booking-app/main.js
  packages/overhead-metrics/test-apps/booking-app/with-replay.html
  packages/overhead-metrics/test-apps/booking-app/with-sentry.html
Labels: CI-Overhead-Measurements

#7303 chore(angular-ivy): Add release registry config for `@sentry/angular-ivy`
  .craft.yml
Labels: Package: Angular

#7305 test(browser): Temporarily skip offline transport tests
  packages/browser/test/unit/transports/offline.test.ts
Labels: Type: Tests

#7306 ci: Better error handling when caches can't be restored
  .github/actions/restore-cache/action.yml
  .github/workflows/build.yml
Labels: Dev: CI

#7308 ci: Avoid `continue-on-error` for nextjs tests
  .github/workflows/build.yml
Labels: Dev: CI

#7312 test(core): Skip flaky offline transport test
  packages/browser/test/unit/transports/offline.test.ts
  packages/core/test/lib/transports/offline.test.ts
Labels: Package: Core, Type: Tests

#7309 test: Fix flaky errorsInSession replay test
  packages/integration-tests/suites/replay/captureReplay/test.ts
  packages/integration-tests/suites/replay/captureReplayViaBrowser/test.ts
  packages/integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/integration-tests/utils/replayHelpers.ts
Labels: Type: Tests, Package: replay

#7313 ci: Fix overhead measurements runs on default branch
  packages/overhead-metrics/configs/ci/process.ts
  packages/overhead-metrics/package.json
  packages/overhead-metrics/src/util/git.ts
  packages/overhead-metrics/src/util/github.ts
Labels: Dev: CI, CI-Overhead-Measurements

#7310 feat(vue): Log errors to the console by default
  packages/vue/src/sdk.ts
Labels: Package: vue

#7307 test: Fix flaky replay error mode test
  packages/integration-tests/suites/replay/errors/errorMode/test.ts
  packages/integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/integration-tests/suites/replay/errors/init.js
  packages/integration-tests/utils/helpers.ts
  packages/integration-tests/utils/replayHelpers.ts
Labels: Type: Tests, Package: replay

#7297 ref(replay): Use `SESSION_IDLE_DURATION` instead of `VISIBILITY_CHANGE_TIMEOUT`
  packages/replay/src/constants.ts
  packages/replay/src/replay.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/rateLimiting.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
  packages/replay/test/utils/setupReplayContainer.ts
Labels: Package: replay

#7318 [Gitflow] Merge develop into master
  packages/integration-tests/suites/replay/errors/errorMode/test.ts
  packages/integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/integration-tests/suites/replay/errors/init.js
  packages/integration-tests/utils/helpers.ts
  packages/integration-tests/utils/replayHelpers.ts
  packages/replay/src/constants.ts
  packages/replay/src/replay.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/rateLimiting.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
  packages/replay/test/utils/setupReplayContainer.ts
Labels: Dev: Gitflow

#7317 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-tests/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7326 feat(vue): Allow to set `routeLabel: 'path'` to opt-out of using name
  packages/vue/src/router.ts
  packages/vue/test/router.test.ts
Labels: Type: Feature, Package: vue

#7329 fix(remix): Correctly parse `X-Forwarded-For` Http header
  packages/remix/src/utils/getIpAddress.ts
  packages/remix/test/utils/getIpAddress.test.ts
Labels: Package: remix

#7338 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-tests/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7304 chore(angular-ivy): Update Angular `README`s
  README.md
  packages/angular-ivy/README.md
  packages/angular/README.md
Labels: Type: Documentation, Package: Angular

#7334 test: Run playwright tests in parallel
  packages/integration-tests/playwright.config.ts
  packages/integration-tests/suites/replay/privacyDefault/test.ts-snapshots/privacy.json
  packages/nextjs/playwright.config.ts
  packages/remix/playwright.config.ts
Labels: Type: Tests

#7337 test: Fix flaky droppedError test
  packages/integration-tests/playwright.config.ts
  packages/integration-tests/suites/replay/errors/droppedError/test.ts
  packages/nextjs/playwright.config.ts
  packages/remix/playwright.config.ts
Labels: Type: Tests

#7360 fix(core): Avoid using `Object.values()`
  packages/core/src/integration.ts
Labels: Type: Bug, Package: Core

#7314 feat(replay): Update rrweb to 1.105.0 & add breadcrumb when encountering large mutation
  CHANGELOG.md
  packages/replay/package.json
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/test/integration/rrweb.test.ts
  yarn.lock
Labels: Package: replay

#7368 test(replay): Make tests less flaky
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-0-snap-full
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-0-snap-full-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-1-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-1-snap-incremental-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-2-snap-full
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-2-snap-full-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-3-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-3-snap-incremental-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-4-snap-full
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-4-snap-full-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-5-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-5-snap-incremental-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-6-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-6-snap-incremental-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-7-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-7-snap-incremental-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-8-snap-full
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-8-snap-full-chromium
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-9-snap-incremental
  packages/integration-tests/suites/replay/multiple-pages/test.ts-snapshots/seg-9-snap-incremental-chromium
  packages/integration-tests/suites/replay/privacyBlock/test.ts-snapshots/privacy-chromium.json
  packages/integration-tests/suites/replay/privacyBlock/test.ts-snapshots/privacy-firefox.json
  packages/integration-tests/suites/replay/privacyBlock/test.ts-snapshots/privacy-webkit.json
  packages/integration-tests/suites/replay/privacyBlock/test.ts-snapshots/privacy.json
  packages/integration-tests/suites/replay/privacyDefault/test.ts-snapshots/privacy-chromium.json
  packages/integration-tests/suites/replay/privacyDefault/test.ts-snapshots/privacy-firefox.json
  packages/integration-tests/suites/replay/privacyDefault/test.ts-snapshots/privacy-webkit.json
  packages/integration-tests/suites/replay/privacyDefault/test.ts-snapshots/privacy.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-0-chromium.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-0-firefox.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-0-webkit.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-0.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-2-chromium.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-2-firefox.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-2-webkit.json
  packages/integration-tests/suites/replay/sessionExpiry/test.ts-snapshots/snapshot-2.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-0-chromium.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-0-firefox.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-0-webkit.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-0.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-1-chromium.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-1-firefox.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-1-webkit.json
  packages/integration-tests/suites/replay/sessionInactive/test.ts-snapshots/snapshot-1.json
  packages/integration-tests/suites/replay/unicode/compressed/test.ts-snapshots/unicode-compressed-chromium.json
  packages/integration-tests/suites/replay/unicode/compressed/test.ts-snapshots/unicode-compressed-firefox.json
  packages/integration-tests/suites/replay/unicode/compressed/test.ts-snapshots/unicode-compressed-webkit.json
  packages/integration-tests/suites/replay/unicode/compressed/test.ts-snapshots/unicode-compressed.json
  packages/integration-tests/suites/replay/unicode/uncompressed/test.ts-snapshots/unicode-uncompressed-chromium.json
  packages/integration-tests/suites/replay/unicode/uncompressed/test.ts-snapshots/unicode-uncompressed-firefox.json
  packages/integration-tests/suites/replay/unicode/uncompressed/test.ts-snapshots/unicode-uncompressed-webkit.json
  packages/integration-tests/suites/replay/unicode/uncompressed/test.ts-snapshots/unicode-uncompressed.json
  packages/integration-tests/utils/replayHelpers.ts
Labels: Type: Tests

#7321 ref(replay): Handle checkouts more explicitly
  packages/integration-tests/suites/replay/multiple-pages/test.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/test/integration/autoSaveSession.test.ts
  packages/replay/test/unit/util/handleRecordingEmit.test.ts
  packages/replay/test/utils/setupReplayContainer.ts
Labels: Package: replay

#7392 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-tests/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7429 fix(types): Fix node types & add E2E test
  packages/browser/src/integrations/breadcrumbs.ts
  packages/e2e-tests/README.md
  packages/e2e-tests/test-applications/node-express-app/.gitignore
  packages/e2e-tests/test-applications/node-express-app/.npmrc
  packages/e2e-tests/test-applications/node-express-app/package.json
  packages/e2e-tests/test-applications/node-express-app/playwright.config.ts
  packages/e2e-tests/test-applications/node-express-app/src/app.ts
  packages/e2e-tests/test-applications/node-express-app/test-recipe.json
  packages/e2e-tests/test-applications/node-express-app/tests/server.test.ts
  packages/e2e-tests/test-applications/node-express-app/tsconfig.json
  packages/e2e-tests/test-applications/node-express-app/yarn.lock
  packages/types/.eslintrc.js
  packages/types/src/instrument.ts
  packages/types/tsconfig.json
  packages/utils/src/instrument.ts
Labels: Type: Bug, Package: Node, Package: types

#7414 feat(bundles): Ensure CDN bundles always have a `Replay` export
  package.json
  packages/browser/package.json
  packages/browser/rollup.bundle.config.js
  packages/integration-shims/.eslintrc.js
  packages/integration-shims/LICENSE
  packages/integration-shims/README.md
  packages/integration-shims/package.json
  packages/integration-shims/rollup.npm.config.js
  packages/integration-shims/src/Replay.ts
  packages/integration-shims/src/index.ts
  packages/integration-shims/tsconfig.json
  packages/integration-shims/tsconfig.types.json
  packages/integration-tests/suites/replay/replayShim/init.js
  packages/integration-tests/suites/replay/replayShim/template.html
  packages/integration-tests/suites/replay/replayShim/test.ts
  packages/tracing/package.json
  packages/tracing/rollup.bundle.config.js
  packages/tracing/src/index.bundle.base.ts
  packages/tracing/src/index.bundle.replay.ts
  packages/tracing/src/index.bundle.ts
  rollup/bundleHelpers.js
  rollup/plugins/bundlePlugins.js
  yarn.lock
Labels: Package: replay

#7395 feat(replay): Add additional properties for UI clicks
  packages/browser-integration-tests/suites/replay/customEvents/init.js
  packages/browser-integration-tests/suites/replay/customEvents/template.html
  packages/browser-integration-tests/suites/replay/customEvents/test.ts
  packages/browser-integration-tests/suites/replay/errors/errorMode/test.ts
  packages/browser-integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/browser-integration-tests/utils/replayEventTemplates.ts
  packages/replay/package.json
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/util/getAttributesToRecord.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/unit/coreHandlers/util/getAttributesToRecord.test.ts
Labels: CI-Overhead-Measurements

#7492 ref(replay): Use `Date.now()` instead of `new Date().getTime()`
  packages/browser/test/integration/polyfills/raf.js
  packages/integrations/test/offline.test.ts
  packages/replay/src/coreHandlers/handleHistory.ts
  packages/replay/src/replay.ts
  packages/replay/src/session/Session.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/addMemoryEntry.ts
  packages/replay/src/util/createBreadcrumb.ts
  packages/replay/test/fixtures/error.ts
  packages/replay/test/fixtures/transaction.ts
  packages/replay/test/mocks/mockRrweb.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
  packages/replay/test/unit/session/getSession.test.ts
  packages/svelte/test/performance.test.ts
Labels: Package: replay

#7496 test(replay): Skip flaky test in firefox
  packages/browser-integration-tests/suites/replay/errors/errorMode/test.ts
  packages/browser-integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/browser-integration-tests/suites/replay/requests/test.ts
Labels: Type: Tests

#7491 fix(replay): Ensure network breadcrumbs have all data
  packages/browser-integration-tests/suites/replay/requests/subject.js
  packages/browser-integration-tests/utils/replayEventTemplates.ts
  packages/browser/src/integrations/breadcrumbs.ts
  packages/replay/src/coreHandlers/addNetworkBreadcrumb.ts
  packages/replay/src/coreHandlers/handleFetch.ts
  packages/replay/src/coreHandlers/handleNetworkBreadcrumbs.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/util/addGlobalListeners.ts
  packages/replay/test/unit/coreHandlers/extendNetworkBreadcrumbs.test.ts
  packages/replay/test/unit/coreHandlers/handleNetworkBreadcrumbs.test.ts
  packages/types/src/breadcrumb.ts
  packages/types/src/index.ts
Labels: Package: replay

#7485 fix(replay): Never capture file input changes
  packages/browser-integration-tests/suites/replay/fileInput/init.js
  packages/browser-integration-tests/suites/replay/fileInput/template.html
  packages/browser-integration-tests/suites/replay/fileInput/test.ts
  packages/replay/src/util/getPrivacyOptions.ts
  packages/replay/test/integration/rrweb.test.ts
  packages/replay/test/unit/util/getPrivacyOptions.test.ts
Labels: Package: replay

#7518 fix(vue): Do not depend on `window.location` for SSR environments
  packages/vue/src/router.ts
Labels: Type: Bug, Package: vue

#7517 fix(next): Guard against missing serverSideProps
  packages/nextjs/src/server/wrapGetServerSidePropsWithSentry.ts
Labels: Package: Nextjs

#7497 ci: Add workflow to detect flaky tests
  .github/workflows/flaky-test-detector.yml
  packages/browser-integration-tests/.eslintrc.js
  packages/browser-integration-tests/package.json
  packages/browser-integration-tests/scripts/detectFlakyTests.ts
Labels: Type: Tests, Dev: CI

#7525 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7534 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7544 fix(cdn): Fix es5 CDN bundles
  docs/new-sdk-release-checklist.md
  packages/integration-shims/tsconfig.json
  rollup/bundleHelpers.js
  rollup/plugins/bundlePlugins.js
Labels: Type: Bug, Dev: Build

#7547 [Gitflow] Merge master into develop
  CHANGELOG.md
  docs/new-sdk-release-checklist.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integration-shims/tsconfig.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
  rollup/bundleHelpers.js
  rollup/plugins/bundlePlugins.js
Labels: Dev: Gitflow

#7553 fix(browser): Ensure keepalive flag is correctly set for parallel requests
  packages/browser/src/transports/fetch.ts
  packages/browser/test/unit/transports/fetch.test.ts
Labels: Type: Bug, Package: Browser

#7524 feat(replay): Capture fetch body size for replay events
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/contentLengthHeader/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/noContentLengthHeader/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/nonTextBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/requestBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/contentLengthHeader/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/noContentLengthHeader/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/nonTextBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/requestBody/test.ts
  packages/browser-integration-tests/suites/replay/privacyInput/test.ts
  packages/replay/src/coreHandlers/handleNetworkBreadcrumbs.ts
  packages/replay/test/unit/coreHandlers/handleNetworkBreadcrumbs.test.ts
Labels: Type: Feature, Package: replay

#7550 build(cdn): Ensure ES5 bundles do not use non-ES5 code
  .github/workflows/build.yml
  package.json
  packages/browser/package.json
  packages/eslint-config-sdk/src/index.js
  packages/eslint-plugin-sdk/src/index.js
  packages/eslint-plugin-sdk/src/rules/no-unsupported-es6-methods.js
  packages/node/.eslintrc.js
  packages/overhead-metrics/.eslintrc.cjs
  packages/replay/.eslintrc.js
  packages/svelte/.eslintrc.js
  packages/tracing/package.json
  packages/vue/src/components.ts
  rollup/bundleHelpers.js
  rollup/plugins/bundlePlugins.js
  rollup/polyfills/es5.js
  yarn.lock
Labels: Dev: CI, Dev: Build

#7573 fix(core): Ensure `ignoreErrors` only applies to error events
  packages/core/src/integrations/inboundfilters.ts
  packages/core/test/lib/integrations/inboundfilters.test.ts
Labels: Type: Bug, Package: Core

#7571 feat(replay): Add `replay_id` to transaction DSC
  packages/browser-integration-tests/suites/replay/dsc/init.js
  packages/browser-integration-tests/suites/replay/dsc/test.ts
  packages/browser-integration-tests/utils/replayHelpers.ts
  packages/core/src/baseclient.ts
  packages/core/src/tracing/transaction.ts
  packages/replay/src/util/addGlobalListeners.ts
  packages/types/src/client.ts
  packages/types/src/envelope.ts
Labels: Type: Feature, Package: replay

#7591 ci: Get release tag name from event
  .github/workflows/release-size-info.yml
Labels: Dev: CI

#7605 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7597 test: Fix some flaky tests
  packages/browser-integration-tests/suites/public-api/startTransaction/basic_usage/subject.js
  packages/browser-integration-tests/suites/stacktraces/protocol_fn_identifiers/test.ts
Labels: Type: Tests

#7621 build(cdn): Make integration CDN bundles build in parallel
  packages/integrations/package.json
  packages/integrations/rollup.bundle.config.js
  packages/integrations/scripts/buildBundles.ts
Labels: Package: integrations, Dev: Build

#7617 build(cdn): Move tracing CDN bundle generation to `@sentry/browser`
  .github/workflows/build.yml
  .size-limit.js
  packages/browser-integration-tests/package.json
  packages/browser-integration-tests/suites/public-api/startTransaction/basic_usage/test.ts
  packages/browser-integration-tests/suites/public-api/startTransaction/circular_data/test.ts
  packages/browser-integration-tests/suites/public-api/startTransaction/setMeasurement/test.ts
  packages/browser-integration-tests/suites/replay/dsc/test.ts
  packages/browser-integration-tests/suites/tracing/browserTracingIntegrationShim/test.ts
  packages/browser-integration-tests/suites/tracing/browserTracingShim/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/backgroundtab-custom/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/backgroundtab-pageload/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/interactions/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/long-tasks-disabled/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/long-tasks-enabled/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/meta/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/navigation/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/pageload/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargets/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTargetsAndOrigins/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/tracePropagationTargets/customTracingOrigins/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsMatch/test.ts
  packages/browser-integration-tests/suites/tracing/browsertracing/tracePropagationTargets/defaultTargetsNoMatch/test.ts
  packages/browser-integration-tests/suites/tracing/envelope-header-transaction-name/test.ts
  packages/browser-integration-tests/suites/tracing/envelope-header/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/connection-rtt/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/pageload-browser-spans/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/pageload-resource-spans/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/web-vitals-cls/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/web-vitals-fid/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/web-vitals-fp-fcp/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/web-vitals-lcp/test.ts
  packages/browser-integration-tests/suites/tracing/metrics/web-vitals-ttfb/test.ts
  packages/browser-integration-tests/suites/tracing/request/fetch/test.ts
  packages/browser-integration-tests/suites/tracing/request/xhr/test.ts
  packages/browser-integration-tests/utils/generatePlugin.ts
  packages/browser-integration-tests/utils/helpers.ts
  packages/browser/package.json
  packages/browser/rollup.bundle.config.js
  packages/browser/src/exports.ts
  packages/browser/src/index.bundle.replay.ts
  packages/browser/src/index.bundle.tracing.replay.ts
  packages/browser/src/index.bundle.tracing.ts
  packages/browser/src/index.bundle.ts
  packages/browser/src/index.ts
  packages/browser/test/unit/index.bundle.tracing.replay.test.ts
  packages/browser/test/unit/index.bundle.tracing.test.ts
  packages/overhead-metrics/test-apps/booking-app/with-replay.html
  packages/overhead-metrics/test-apps/booking-app/with-sentry.html
  packages/overhead-metrics/test-apps/jank/with-replay.html
  packages/overhead-metrics/test-apps/jank/with-sentry.html
  packages/tracing/package.json
  packages/tracing/rollup.bundle.config.js
  packages/tracing/src/index.bundle.base.ts
  packages/tracing/src/index.bundle.replay.ts
  packages/tracing/tsconfig.types.json
Labels: Package: Browser, Package: tracing, Dev: Build

#7594 feat(core): Add `ignoreTransactions` option
  packages/core/src/integrations/inboundfilters.ts
  packages/core/test/lib/integrations/inboundfilters.test.ts
  packages/types/src/options.ts
Labels: Type: Feature, Package: Core

#7466 test: Make E2E tests async & parallelizable
  .github/workflows/build.yml
  packages/e2e-tests/.eslintrc.js
  packages/e2e-tests/.gitignore
  packages/e2e-tests/README.md
  packages/e2e-tests/lib/buildApp.ts
  packages/e2e-tests/lib/buildRecipeInstances.ts
  packages/e2e-tests/lib/constants.ts
  packages/e2e-tests/lib/runAllTestApps.ts
  packages/e2e-tests/lib/runTestApp.ts
  packages/e2e-tests/lib/testApp.ts
  packages/e2e-tests/lib/types.ts
  packages/e2e-tests/lib/utils.ts
  packages/e2e-tests/lib/validate.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/registrySetup.ts
  packages/e2e-tests/run.ts
  packages/e2e-tests/test-applications/create-next-app/package.json
  packages/e2e-tests/test-applications/create-next-app/playwright.config.ts
  packages/e2e-tests/test-applications/create-next-app/test-recipe.json
  packages/e2e-tests/test-applications/create-next-app/tsconfig.json
  packages/e2e-tests/test-applications/create-react-app/package.json
  packages/e2e-tests/test-applications/create-react-app/test-recipe.json
  packages/e2e-tests/test-applications/nextjs-app-dir/package.json
  packages/e2e-tests/test-applications/nextjs-app-dir/playwright.config.ts
  packages/e2e-tests/test-applications/nextjs-app-dir/test-recipe.json
  packages/e2e-tests/test-applications/nextjs-app-dir/tsconfig.json
  packages/e2e-tests/test-applications/node-express-app/package.json
  packages/e2e-tests/test-applications/node-express-app/playwright.config.ts
  packages/e2e-tests/test-applications/node-express-app/src/app.ts
  packages/e2e-tests/test-applications/node-express-app/test-recipe.json
  packages/e2e-tests/test-applications/standard-frontend-react-tracing-import/package.json
  packages/e2e-tests/test-applications/standard-frontend-react-tracing-import/playwright.config.ts
  packages/e2e-tests/test-applications/standard-frontend-react-tracing-import/test-recipe.json
  packages/e2e-tests/test-applications/standard-frontend-react/package.json
  packages/e2e-tests/test-applications/standard-frontend-react/playwright.config.ts
  packages/e2e-tests/test-applications/standard-frontend-react/test-recipe.json
  packages/e2e-tests/test-applications/standard-frontend-react/tests/fixtures/ReplayRecordingData.ts
  packages/e2e-tests/test-recipe-schema.json
  packages/e2e-tests/verdaccio-config/config.yaml
  yarn.lock
Labels: Type: Tests

#7675 [Gitflow] Merge master into develop
  CHANGELOG.md
  MIGRATION.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/nextjs/src/config/types.ts
  packages/nextjs/src/config/withSentryConfig.ts
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7674 fix(sveltekit): Log error to console by default in `handleErrorWithSentry`
  packages/sveltekit/src/client/handleError.ts
  packages/sveltekit/src/server/handleError.ts
  packages/sveltekit/test/client/handleError.test.ts
  packages/sveltekit/test/server/handleError.test.ts
Labels: Package: SvelteKit
