Repository getsentry/sentry-javascript, pull requests merged in 2023-04, with the labels that each got.

#7711 ci: Use GitHub CLI for automerge
  .github/workflows/gitflow-sync-develop.yml
Labels: Dev: CI

#7712 fix(ember): Ensure only one client is created & Replay works
  packages/ember/addon/instance-initializers/sentry-performance.ts
  packages/ember/tests/acceptance/sentry-replay-test.js
  packages/ember/tests/dummy/app/app.js
  packages/ember/tests/dummy/app/router.js
  packages/ember/tests/dummy/app/routes/replay.js
  packages/ember/tests/dummy/app/templates/application.hbs
  packages/ember/tests/dummy/app/templates/replay.hbs
  packages/ember/tests/dummy/config/environment.js
Labels: Type: Bug, Package: ember

#7749 test: Fix flaky replay sampling test
  .github/workflows/flaky-test-detector.yml
  packages/browser-integration-tests/suites/replay/sampling/test.ts
Labels: Type: Tests

#7761 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7774 test(replay): Streamline replay test imports
  packages/browser-integration-tests/suites/replay/captureReplay/test.ts
  packages/browser-integration-tests/suites/replay/captureReplayFromReplayPackage/init.js
  packages/browser-integration-tests/suites/replay/captureReplayFromReplayPackage/template.html
  packages/browser-integration-tests/suites/replay/captureReplayFromReplayPackage/test.ts
  packages/browser-integration-tests/suites/replay/fileInput/init.js
  packages/browser-integration-tests/suites/replay/privacyBlock/init.js
  packages/browser-integration-tests/suites/replay/privacyDefault/init.js
  packages/browser-integration-tests/suites/replay/privacyInput/init.js
  packages/browser-integration-tests/suites/replay/privacyInputMaskAll/init.js
Labels: Type: Tests

#7773 ref(replay): Always send `replay_start_timestamp`
  packages/browser-integration-tests/suites/replay/captureReplay/test.ts
  packages/browser-integration-tests/suites/replay/captureReplayFromReplayPackage/test.ts
  packages/browser-integration-tests/suites/replay/customEvents/test.ts
  packages/browser-integration-tests/suites/replay/errors/errorMode/test.ts
  packages/browser-integration-tests/suites/replay/errors/errorsInSession/test.ts
  packages/browser-integration-tests/suites/replay/flushing/test.ts
  packages/browser-integration-tests/suites/replay/multiple-pages/test.ts
  packages/browser-integration-tests/suites/replay/sessionExpiry/test.ts
  packages/browser-integration-tests/suites/replay/sessionMaxAge/test.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/sendReplayRequest.ts
  packages/replay/test/integration/flush.test.ts
Labels: Package: replay

#7786 fix(integrations): Ensure httpclient integration works with Request
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/init.js
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/simple/subject.js
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/simple/test.ts
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequest/subject.js
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequest/test.ts
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequestAndBodyAndOptions/subject.js
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequestAndBodyAndOptions/test.ts
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequestAndOptions/subject.js
  packages/browser-integration-tests/suites/integrations/httpclient/fetch/withRequestAndOptions/test.ts
  packages/integration-shims/package.json
  packages/integrations/src/httpclient.ts
  packages/replay-worker/package.json
Labels: Type: Bug

#7790 test(loader): Add tests for new loader integration handling
  packages/browser-integration-tests/fixtures/loader.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customBrowserTracing/init.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customBrowserTracing/test.ts
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrations/init.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrations/subject.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrations/test.ts
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrationsFunction/init.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrationsFunction/subject.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customIntegrationsFunction/test.ts
  packages/browser-integration-tests/loader-suites/loader/onLoad/customReplay/init.js
  packages/browser-integration-tests/loader-suites/loader/onLoad/customReplay/test.ts
  packages/browser-integration-tests/package.json
  packages/integrations/package.json
Labels: Type: Tests

#7822 feat(replay): Add `getReplayId()` method
  packages/replay/README.md
  packages/replay/src/integration.ts
  packages/replay/test/integration/getReplayId.test.ts
Labels: Package: replay

#7848 [Gitflow] Merge master into develop
  CHANGELOG.md
Labels: Dev: Gitflow

#7860 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#7877 fix(tracing): Ensure we use `s` instead of `ms` for startTimestamp
  packages/angular/src/tracing.ts
  packages/core/src/tracing/idletransaction.ts
  packages/core/src/tracing/span.ts
  packages/ember/addon/index.ts
  packages/ember/addon/instance-initializers/sentry-performance.ts
  packages/react/src/profiler.tsx
  packages/tracing-internal/src/browser/router.ts
Labels: Type: Bug

#7880 ci: Tag issues if last commenter is user
  .github/workflows/label-last-commenter.yml
Labels: Dev: CI

#7889 fix(gatsby): Use `import` for `gatsby-browser.js` instead of `require`
  packages/gatsby/.eslintrc.js
  packages/gatsby/gatsby-browser.js
  packages/gatsby/jest.config.js
  packages/gatsby/package.json
  packages/gatsby/test/integration.test.tsx
  packages/gatsby/tsconfig.test.json
Labels: Type: Bug, Package: gatsby

#7875 feat(replay): Truncate network bodies to max size
  packages/replay/src/constants.ts
  packages/replay/src/coreHandlers/util/fetchUtils.ts
  packages/replay/src/coreHandlers/util/networkUtils.ts
  packages/replay/src/coreHandlers/util/xhrUtils.ts
  packages/replay/src/types.ts
  packages/replay/src/util/truncateJson/completeJson.ts
  packages/replay/src/util/truncateJson/constants.ts
  packages/replay/src/util/truncateJson/evaluateJson.ts
  packages/replay/src/util/truncateJson/fixJson.ts
  packages/replay/test/fixtures/fixJson/1_completeJson.json
  packages/replay/test/fixtures/fixJson/1_incompleteJson.txt
  packages/replay/test/fixtures/fixJson/2_completeJson.json
  packages/replay/test/fixtures/fixJson/2_incompleteJson.txt
  packages/replay/test/unit/coreHandlers/handleNetworkBreadcrumbs.test.ts
  packages/replay/test/unit/coreHandlers/util/networkUtils.test.ts
  packages/replay/test/unit/coreHandlers/util/truncateJson/fixJson.test.ts
Labels: Package: replay

#7915 fix(replay): Ensure we normalize scope breadcrumbs to max. depth to avoid circular ref
  packages/replay/src/coreHandlers/util/addBreadcrumbEvent.ts
Labels: Type: Bug, Package: replay

#7923 fix(replay): Ensure we still truncate large bodies if they are failed JSON
  packages/replay/src/coreHandlers/util/networkUtils.ts
  packages/replay/test/unit/coreHandlers/util/networkUtils.test.ts
Labels: Type: Bug, Package: replay

#7917 fix(replay): Ensure console breadcrumb args are truncated
  packages/browser-integration-tests/suites/replay/captureConsoleLog/template.html
  packages/browser-integration-tests/suites/replay/captureConsoleLog/test.ts
  packages/browser-integration-tests/utils/replayHelpers.ts
  packages/replay/src/constants.ts
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
Labels: Type: Bug, Package: replay

#7939 fix(replay): Ensure we do not set replayId on dsc if replay is disabled
  packages/browser-integration-tests/suites/replay/dsc/init.js
  packages/browser-integration-tests/suites/replay/dsc/test.ts
  packages/replay/src/util/addGlobalListeners.ts
Labels: Type: Bug, Package: replay

#7953 feat(replay): Allow to configure URLs to capture network bodies/headers
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureRequestBody/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureRequestBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureRequestHeaders/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureRequestHeaders/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureRequestSize/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureResponseBody/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureResponseBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureResponseHeaders/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureResponseHeaders/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/fetch/captureResponseSize/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureRequestBody/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureRequestBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureRequestHeaders/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureRequestHeaders/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureRequestSize/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureResponseBody/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureResponseBody/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureResponseHeaders/init.js
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureResponseHeaders/test.ts
  packages/browser-integration-tests/suites/replay/extendNetworkBreadcrumbs/xhr/captureResponseSize/test.ts
  packages/browser-integration-tests/utils/replayEventTemplates.ts
  packages/replay/src/coreHandlers/handleNetworkBreadcrumbs.ts
  packages/replay/src/coreHandlers/util/fetchUtils.ts
  packages/replay/src/coreHandlers/util/networkUtils.ts
  packages/replay/src/coreHandlers/util/xhrUtils.ts
  packages/replay/src/integration.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/test/unit/coreHandlers/handleNetworkBreadcrumbs.test.ts
  packages/replay/test/utils/setupReplayContainer.ts
  rollup/plugins/bundlePlugins.js
Labels: Type: Feature, Package: replay

#7962 ci: Fix issue state check
  .github/workflows/label-last-commenter.yml
Labels: Dev: CI

#7957 fix(utils): default `normalize()` to a max. of 100 levels deep instead of Inifnity
  packages/utils/src/normalize.ts
  packages/utils/test/normalize.test.ts
Labels: Type: Bug

#7955 feat(replay): Extend session idle time until expire to 15min
  packages/browser-integration-tests/suites/replay/sessionExpiry/init.js
  packages/browser-integration-tests/suites/replay/sessionInactive/init.js
  packages/browser-integration-tests/suites/replay/sessionInactive/test.ts
  packages/browser-integration-tests/suites/replay/sessionMaxAge/init.js
  packages/replay/src/constants.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/isSessionExpired.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/unit/session/getSession.test.ts
  packages/replay/test/unit/util/isSessionExpired.test.ts
Labels: Type: Feature, Package: replay

#7973 test: Fix flaky replay DSC test
  .github/workflows/build.yml
  packages/browser-integration-tests/suites/replay/dsc/test.ts
Labels: Type: Tests

#7981 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/README.md
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
