Repository getsentry/sentry-javascript, pull requests merged in 2023-01, with the labels that each got.

#6545 test(react): Make react unit tests silent
  packages/react/jest.config.js
Labels: Package: react, Type: Tests

#6517 feat(core): Expose `prepareEvent` util function
  packages/browser/package.json
  packages/browser/test/unit/index.test.ts
  packages/core/src/baseclient.ts
  packages/core/src/index.ts
  packages/core/src/utils/prepareEvent.ts
Labels: Package: core, Package: replay

#6506 feat(types): Upstream some replay types
  packages/replay/jest.setup.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/createPayload.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/replay/src/util/getReplayEvent.ts
  packages/replay/test/unit/util/createReplayEnvelope.test.ts
  packages/replay/test/unit/util/getReplayEvent.test.ts
  packages/types/src/datacategory.ts
  packages/types/src/envelope.ts
  packages/types/src/index.ts
  packages/types/src/replay.ts
  packages/utils/src/envelope.ts
Labels: Package: types, Package: replay

#6637 fix(replay): Improve handling of `maskAllText` selector
  packages/replay/src/constants.ts
  packages/replay/src/integration.ts
  packages/replay/test/unit/index-integrationSettings.test.ts
Labels: Package: replay

#6612 ref(replay): Extract flush min and max delay default values to constants
  packages/replay/src/constants.ts
  packages/replay/src/integration.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-noSticky.test.ts
  packages/replay/test/unit/index.test.ts
Labels: Package: replay

#6635 feat(gatsby): Support Gatsby v5
  packages/gatsby/package.json
Labels: Package: gatsby

#6481 feat(core): Add `replay_event` type for events
  packages/core/src/envelope.ts
  packages/core/src/hub.ts
  packages/hub/test/hub.test.ts
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/types/src/datacategory.ts
  packages/types/src/event.ts
  packages/types/src/index.ts
Labels: Status: In Progress

#6651 feat(core): Add `addIntegration` method to client
  packages/core/src/baseclient.ts
  packages/core/src/integration.ts
  packages/types/src/client.ts
  packages/types/src/options.ts
Labels: Type: Feature, Package: core

#6657 build: Update @typescript-eslint packages & fix resulting linting issues
  packages/browser/.eslintignore
  packages/browser/src/helpers.ts
  packages/browser/src/sdk.ts
  packages/browser/test/unit/sdk.test.ts
  packages/core/src/hub.ts
  packages/eslint-config-sdk/package.json
  packages/nextjs/src/config/wrappers/types.ts
  packages/node/src/handlers.ts
  packages/node/src/integrations/onuncaughtexception.ts
  packages/node/src/transports/http.ts
  packages/node/src/types.ts
  packages/react/src/redux.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/integration.ts
  packages/replay/src/util/debounce.ts
  packages/tracing/src/browser/browsertracing.ts
  packages/tracing/src/browser/request.ts
  packages/types/src/envelope.ts
  packages/types/src/eventprocessor.ts
  packages/utils/src/object.ts
  yarn.lock
Labels: Dev: Build

#6663 ref(vue): Use `string.repeat()`
  packages/vue/src/components.ts
Labels: Package: vue

#6654 ref(replay): Add jsdoc to all replay modules
  docs/event-sending.md
  packages/replay/.eslintrc.js
  packages/replay/src/coreHandlers/breadcrumbHandler.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/handleFetch.ts
  packages/replay/src/coreHandlers/handleHistory.ts
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/createPerformanceEntry.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/integration.ts
  packages/replay/src/replay.ts
  packages/replay/src/session/saveSession.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addMemoryEntry.ts
  packages/replay/src/util/createBreadcrumb.ts
  packages/replay/src/util/createPerformanceSpans.ts
  packages/replay/src/util/createRecordingData.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/replay/src/util/isBrowser.ts
  packages/replay/src/util/isRrwebError.ts
  packages/replay/src/util/monkeyPatchRecordDroppedEvent.ts
  packages/replay/src/util/prepareReplayEvent.ts
  packages/replay/test/unit/util/prepareReplayEvent.test.ts
Labels: Package: replay

#6446 ref(angular) Add error-like objects handling
  packages/angular/src/errorhandler.ts
  packages/angular/test/errorhandler.test.ts
Labels: Package: angular

#6724 fix(otel): Set trace context via Otel Span instead of Sentry span
  packages/opentelemetry-node/src/spanprocessor.ts
  packages/opentelemetry-node/test/spanprocessor.test.ts
Labels: Package: otel-node

#6555 build: Update Lerna to v6 and use Nx caching for builds
  .github/workflows/build.yml
  docs/new-sdk-release-checklist.md
  lerna.json
  nx.json
  package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/e2e-tests/publish-packages.ts
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay/package.json
  packages/replay/workflows/build.yml
  packages/serverless/package.json
  packages/serverless/scripts/buildLambdaLayer.ts
  packages/svelte/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
  scripts/ensure-bundle-deps.ts
  scripts/node-unit-tests.ts
  yarn.lock
Labels: Status: Backlog

#6704 ref(replay): Remove `clearSession` from replay API
  packages/replay/src/replay.ts
  packages/replay/test/unit/flush.test.ts
  packages/replay/test/unit/index-errorSampleRate.test.ts
  packages/replay/test/unit/index-noSticky.test.ts
  packages/replay/test/unit/index.test.ts
  packages/replay/test/unit/session/deleteSession.test.ts
  packages/replay/test/unit/stop.test.ts
  packages/replay/test/utils/clearSession.ts
Labels: Package: replay

#6731 build: Improve nx caching strategy
  nx.json
Labels: Dev: Build

#6732 ci: Use nx cache from master by default
  .github/workflows/build.yml
Labels: Dev: CI

#6736 ref(replay): Remove circular `@sentry/browser` peerDependency
  packages/replay/package.json
  packages/replay/test/fixtures/error.ts
  packages/replay/test/mocks/mockSdk.ts
  packages/replay/test/unit/util/createReplayEnvelope.test.ts
  packages/replay/test/unit/util/getReplayEvent.test.ts
  packages/replay/test/unit/util/prepareReplayEvent.test.ts
  packages/replay/test/utils/TestClient.ts
  packages/replay/test/utils/getDefaultBrowserClientOptions.ts
Labels: Package: replay

#6748 chore(utils): Adjust JSDoc of rate limit functions
  packages/utils/src/ratelimit.ts
Labels: Type: Documentation

#6734 ref(replay): Mark all methods & properties as public/private
  packages/replay/.eslintrc.js
  packages/replay/src/integration.ts
  packages/replay/src/replay.ts
  packages/replay/test/integration/autoSaveSession.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/sampling.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
  packages/replay/test/unit/util/getReplayEvent.test.ts
Labels: Package: replay

#6735 test(replay): Add basic replay integration tests
  packages/integration-tests/suites/replay/captureReplay/template.html
  packages/integration-tests/suites/replay/captureReplay/test.ts
  packages/integration-tests/suites/replay/init.js
  packages/integration-tests/suites/replay/sampling/init.js
  packages/integration-tests/suites/replay/sampling/template.html
  packages/integration-tests/suites/replay/sampling/test.ts
  packages/integration-tests/utils/helpers.ts
Labels: Package: replay

#6751 ref(replay): Extract `sendReplay` functionality into functions
  packages/replay/jest.setup.ts
  packages/replay/src/constants.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/prepareRecordingData.ts
  packages/replay/src/util/sendReplay.ts
  packages/replay/src/util/sendReplayRequest.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/rateLimiting.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
Labels: Package: replay

#6765 feat(replay): Stop replays when a segment could not be sent
  packages/replay/src/replay.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
Labels: Package: replay

#6740 fix(replay): Fix incorrect uncompressed recording size due to encoding
  packages/replay/jest.setup.ts
  packages/replay/src/util/createReplayEnvelope.ts
  packages/utils/src/envelope.ts
Labels: Package: replay

#6777 ref: Avoid optional chaining & add eslint rule
  packages/browser/src/client.ts
  packages/eslint-config-sdk/src/index.js
  packages/eslint-plugin-sdk/src/index.js
  packages/eslint-plugin-sdk/src/rules/no-optional-chaining.js
  packages/nextjs/.eslintrc.js
  packages/node/.eslintrc.js
  packages/opentelemetry-node/.eslintrc.js
  packages/react/src/reactrouterv6.tsx
  packages/remix/.eslintrc.js
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/replay/src/coreHandlers/handleXhr.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/isRrwebError.ts
  packages/replay/src/util/isSessionExpired.ts
  packages/replay/src/util/sendReplayRequest.ts
  packages/replay/src/util/shouldFilterRequest.ts
  packages/serverless/.eslintrc.js
  packages/tracing/.eslintrc.js
  packages/tracing/src/browser/browsertracing.ts
  packages/utils/src/requestdata.ts
  packages/utils/src/stacktrace.ts
  packages/vue/src/components.ts
  packages/vue/src/tracing.ts
  packages/wasm/.eslintrc.js
Labels: Package: replay

#6795 docs(replay): Update setup docs for replay
  packages/replay/README.md
Labels: Package: replay

#6824 build: `build:bundle` does not depend on `build:types`
  nx.json
Labels: Dev: Build

#6836 test(ember): Ensure tests are not flaky due to long tasks
  packages/ember/tests/dummy/app/app.js
Labels: Package: ember, Type: Tests

#6838 build: Ensure every package has `build:dev` & `build:dev:watch`
  packages/angular/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/ember/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/nextjs/test/integration/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: Dev: Build

#6837 feat(tracing): Promote `enableLongTask` to option of `BrowserTracing`
  packages/integration-tests/suites/tracing/browsertracing/long-tasks-disabled/init.js
  packages/tracing/src/browser/browsertracing.ts
  packages/tracing/test/browser/browsertracing.test.ts
Labels: Package: tracing

#6761 feat(replay): Lower the flush max delay from 15 seconds to 5 seconds
  packages/replay/src/constants.ts
Labels: CI-Overhead-Measurements

#6847 ci(ember): Only run pinned tests for ember on build, + add canary tests
  .github/workflows/build.yml
  .github/workflows/canary.yml
  packages/ember/package.json
Labels: Package: ember, Dev: CI

#6776 feat(replay): Add `flush` method to integration
  packages/replay/README.md
  packages/replay/src/integration.ts
Labels: Package: replay

#6827 feat(replay): Handle worker loading errors
  packages/replay/jest.setup.ts
  packages/replay/src/eventBuffer.ts
  packages/replay/src/types.ts
  packages/replay/src/worker/worker.js
  packages/replay/test/unit/eventBuffer.test.ts
  packages/replay/worker/src/worker.ts
Labels: Package: replay

#6863 ref(replay): Avoid duplicate debounce timers
  packages/replay/src/util/debounce.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
Labels: Package: replay

#6871 ci: Refactor deprecated functionality
  .github/workflows/build.yml
  packages/replay/workflows/build.yml
  packages/replay/workflows/release.yml
  packages/replay/workflows/size.yml
Labels: Dev: CI

#6875 ci: Fix size-limit check
  .github/workflows/build.yml
Labels: Dev: CI

#6879 fix(otel): use http/grpc status over span status
  packages/opentelemetry-node/src/utils/map-otel-status.ts
Labels: Package: otel-node

#6867 ref(replay): Remove unused `initialFlushDelay` option
  packages/integration-tests/suites/replay/captureReplayViaBrowser/init.js
  packages/integration-tests/suites/replay/init.js
  packages/integration-tests/suites/replay/sampling/init.js
  packages/replay/src/constants.ts
  packages/replay/src/integration.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
Labels: Package: replay

#6893 ref(replay): Extract some more handlers out into functional style
  packages/replay/src/coreHandlers/addBreadcrumbEvent.ts
  packages/replay/src/coreHandlers/breadcrumbHandler.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addGlobalListeners.ts
  packages/replay/test/integration/coreHandlers/handleScope.test.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
Labels: Package: replay

#6878 feat(replay): Remove default sample rates for replay
  packages/replay/MIGRATION.md
  packages/replay/src/constants.ts
  packages/replay/src/integration.ts
Labels: Package: replay

#6932 fix(replay): fix path separator substitution to replace all `\\`
  packages/replay/metrics/src/scenarios.ts
Labels: CI-Overhead-Measurements

#6948 fix(replay): Do not renew session in error mode
  packages/replay/src/replay.ts
  packages/replay/src/session/getSession.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/rateLimiting.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
Labels: Package: replay

#6890 ci: Setup gitflow process
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/gitflow-sync-develop.yml
  .github/workflows/gitflow-sync-master.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/assets/gitflow-chart.png
  docs/gitflow.md
  docs/publishing-a-release.md
Labels: Dev: CI

#6995 ci: Fix gitflow workflows
  .github/workflows/gitflow-sync-develop.yml
  .github/workflows/gitflow-sync-master.yml
Labels: Dev: CI, Dev: Gitflow

#6996 [Gitflow] MANUALLY merge master into develop
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/gitflow-sync-develop.yml
  .github/workflows/gitflow-sync-master.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/assets/gitflow-chart.png
  docs/gitflow.md
  docs/publishing-a-release.md
  packages/browser/src/client.ts
  packages/browser/src/loader.js
  packages/browser/test/integration/suites/loader.js
  packages/browser/test/unit/index.test.ts
  packages/core/src/index.ts
  packages/core/src/transports/offline.ts
  packages/core/test/lib/transports/offline.test.ts
  packages/integration-tests/suites/replay/captureReplay/test.ts
  packages/integration-tests/suites/replay/captureReplayViaBrowser/test.ts
  packages/integration-tests/utils/helpers.ts
  packages/nextjs/package.json
  packages/nextjs/src/config/loaders/wrappingLoader.ts
  packages/nextjs/src/edge/transport.ts
  packages/nextjs/src/edge/utils/edgeWrapperUtils.ts
  packages/nextjs/src/index.types.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/test/edge/edgeWrapperUtils.test.ts
  packages/nextjs/test/edge/transport.test.ts
  packages/nextjs/test/edge/withSentryAPI.test.ts
  packages/nextjs/test/integration/pages/api/requireTest.ts
  packages/nextjs/test/integration/test/server/cjsApiEndpoints.test.ts
  packages/nextjs/test/integration/test/server/utils/throw.js
  packages/react/src/errorboundary.tsx
  packages/replay/README.md
  packages/replay/src/coreHandlers/handleScope.ts
  packages/replay/src/integration.ts
  packages/replay/src/types.ts
  packages/replay/src/types/rrweb.ts
  packages/replay/src/util/getPrivacyOptions.ts
  packages/replay/src/util/sendReplayRequest.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/integrationSettings.test.ts
  packages/replay/test/integration/rrweb.test.ts
  packages/replay/test/unit/coreHandlers/handleScope.test.ts
  packages/replay/test/unit/util/createReplayEnvelope.test.ts
  packages/replay/test/unit/util/getPrivacyOptions.test.ts
  packages/replay/test/unit/util/prepareReplayEvent.test.ts
  packages/utils/src/env.ts
  packages/utils/src/worldwide.ts
  rollup/bundleHelpers.js
  rollup/npmHelpers.js
  rollup/plugins/bundlePlugins.js
Labels: Dev: Gitflow
