Repository getsentry/sentry-javascript, pull requests merged in 2023-08, with the labels that each got.

#8678 fix(replay): Improve capture of errorIds/traceIds
  packages/replay/src/coreHandlers/handleAfterSendEvent.ts
  packages/replay/src/coreHandlers/handleGlobalEvent.ts
  packages/replay/test/integration/coreHandlers/handleAfterSendEvent.test.ts
  packages/replay/test/integration/coreHandlers/handleGlobalEvent.test.ts
Labels: Package: replay

#8695 build(ember): Update ember-resolver dev dependency
  packages/ember/package.json
  yarn.lock
Labels: Package: ember, Type: Tests

#8709 ref(replay): Improve status logging
  packages/replay/jest.setup.ts
  packages/replay/src/eventBuffer/EventBufferProxy.ts
  packages/replay/src/eventBuffer/WorkerHandler.ts
  packages/replay/src/eventBuffer/index.ts
  packages/replay/src/replay.ts
  packages/replay/src/session/createSession.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/getSession.ts
  packages/replay/src/types/replayFrame.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/src/util/log.ts
  packages/replay/src/util/sendReplayRequest.ts
Labels: Package: replay

#8713 fix(replay): Ensure buffer sessions end after capturing an error
  packages/replay/src/session/Session.ts
  packages/replay/test/integration/errorSampleRate.test.ts
Labels: Type: Bug, Package: replay

#8712 fix(replay): Ensure buffer->session switch is reliable
  packages/replay/src/replay.ts
  packages/replay/test/integration/errorSampleRate.test.ts
Labels: Package: replay

#8716 fix(replay): Ensure we debounce flush if replay too short
  packages/replay/src/replay.ts
  packages/replay/test/integration/flush.test.ts
Labels: Type: Bug, Package: replay

#8734 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8719 test: Use `getLocalTestUrl` instead of `getLocalTestPath` for xhr tests
  packages/browser-integration-tests/suites/integrations/Breadcrumbs/fetch/get/test.ts
  packages/browser-integration-tests/suites/integrations/Breadcrumbs/fetch/post/test.ts
  packages/browser-integration-tests/suites/integrations/Breadcrumbs/xhr/get/test.ts
  packages/browser-integration-tests/suites/integrations/Breadcrumbs/xhr/post/test.ts
Labels: Type: Tests

#8740 ref(replay): Improve internal logging
  packages/replay/src/replay.ts
  packages/replay/src/util/log.ts
Labels: Package: replay

#8742 fix(replay): Cancel debounce when replay is too short/long
  packages/replay/src/replay.ts
Labels: Type: Bug, Package: replay

#8744 ref(replay): Ensure we only clear for buffer mode
  packages/replay/src/util/addEvent.ts
Labels: Package: replay

#8748 ref(replay): Log warning if trying to flush initial segment without checkout
  packages/replay/src/eventBuffer/EventBufferArray.ts
  packages/replay/src/eventBuffer/EventBufferCompressionWorker.ts
  packages/replay/src/eventBuffer/EventBufferProxy.ts
  packages/replay/src/replay.ts
  packages/replay/src/session/fetchSession.ts
  packages/replay/src/session/getSession.ts
  packages/replay/src/types/replay.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/src/util/log.ts
  packages/replay/test/integration/flush.test.ts
Labels: Package: replay

#8767 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8768 ref(replay): Skip events being added too long after initial segment
  packages/replay/src/util/addEvent.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/flush.test.ts
Labels: Type: Bug, Package: replay

#8789 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8812 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8833 test(overhead): Stop loading `api.lorem.space` images
  packages/overhead-metrics/test-apps/booking-app/img/house-0.jpg
  packages/overhead-metrics/test-apps/booking-app/img/house-1.jpg
  packages/overhead-metrics/test-apps/booking-app/img/house-2.jpg
  packages/overhead-metrics/test-apps/booking-app/main.js
Labels: CI-Overhead-Measurements

#8882 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8866 ref(replay): Restructure event type export naming
  packages/browser-integration-tests/utils/replayHelpers.ts
  packages/browser/src/index.ts
  packages/replay/.eslintignore
  packages/replay/.eslintrc.js
  packages/replay/src/coreHandlers/handleClick.ts
  packages/replay/src/index.ts
  packages/replay/src/replay.ts
  packages/replay/src/types/deprecated.ts
  packages/replay/src/types/replay.ts
  packages/replay/src/types/replayFrame.ts
  packages/replay/src/types/rrweb.ts
  packages/replay/src/util/createBreadcrumb.ts
  packages/replay/src/util/handleRecordingEmit.ts
  packages/replay/test/integration/errorSampleRate.test.ts
  packages/replay/test/integration/eventProcessors.test.ts
  packages/replay/test/integration/events.test.ts
  packages/replay/test/integration/flush.test.ts
  packages/replay/test/integration/rateLimiting.test.ts
  packages/replay/test/integration/sendReplayEvent.test.ts
  packages/replay/test/integration/session.test.ts
  packages/replay/test/integration/stop.test.ts
  packages/replay/test/mocks/mockRrweb.ts
  packages/replay/test/unit/eventBuffer/EventBufferArray.test.ts
  packages/replay/test/unit/eventBuffer/EventBufferCompressionWorker.test.ts
  packages/replay/test/unit/eventBuffer/EventBufferProxy.test.ts
  packages/replay/test/unit/util/addEvent.test.ts
  packages/replay/test/unit/util/handleRecordingEmit.test.ts
  packages/replay/test/utils/getTestEvent.ts
Labels: Package: replay

#8910 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
