Repository getsentry/sentry-javascript, pull requests merged in 2023-05, with the labels that each got.

#7989 ref(replay): Explicitly clear eventBuffer for checkout events
  packages/replay/src/eventBuffer/EventBufferArray.ts
  packages/replay/src/eventBuffer/EventBufferCompressionWorker.ts
  packages/replay/src/eventBuffer/EventBufferProxy.ts
  packages/replay/src/types.ts
  packages/replay/src/util/addEvent.ts
  packages/replay/test/unit/eventBuffer/EventBufferArray.test.ts
  packages/replay/test/unit/eventBuffer/EventBufferCompressionWorker.test.ts
Labels: Package: replay

#8010 test(replay): Unflake test
  packages/browser-integration-tests/suites/replay/bufferMode/test.ts
Labels: Type: Tests

#7970 test(loader): Ensure loader handles SDK being loaded in the meanwhile
  packages/browser-integration-tests/loader-suites/loader/noOnLoad/sdkLoadedInMeanwhile/subject.js
  packages/browser-integration-tests/loader-suites/loader/noOnLoad/sdkLoadedInMeanwhile/test.ts
  packages/browser-integration-tests/utils/fixtures.ts
  packages/browser-integration-tests/utils/generatePage.ts
Labels: Type: Tests

#8029 test: Refactor playwright bundle generation
  .prettierignore
  packages/browser-integration-tests/.eslintrc.js
  packages/browser-integration-tests/.gitignore
  packages/browser-integration-tests/.prettierignore
  packages/browser-integration-tests/loader-suites/loader/noOnLoad/sdkLoadedInMeanwhile/test.ts
  packages/browser-integration-tests/package.json
  packages/browser-integration-tests/playwright.config.ts
  packages/browser-integration-tests/playwright.setup.ts
  packages/browser-integration-tests/utils/fixtures.ts
  packages/browser-integration-tests/utils/generatePage.ts
  packages/browser-integration-tests/utils/generatePlugin.ts
  packages/browser-integration-tests/utils/staticAssets.ts
Labels: Type: Tests

#8037 fix(replay): Keep session active on key press
  packages/replay/src/replay.ts
Labels: Type: Bug, Package: replay

#8044 [Gitflow] Merge master into develop
  .github/workflows/build.yml
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8026 feat(replay): Improve click target detection
  packages/browser-integration-tests/suites/replay/customEvents/template.html
  packages/browser-integration-tests/suites/replay/customEvents/test.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/test/unit/coreHandlers/handleDom.test.ts
Labels: Package: replay

#8066 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8077 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8052 feat(replay): Capture slow clicks (experimental)
  packages/browser-integration-tests/suites/replay/slowClick/clickTargets/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/ignore/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/init.js
  packages/browser-integration-tests/suites/replay/slowClick/mutation/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/scroll/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/template.html
  packages/browser-integration-tests/suites/replay/slowClick/timeout/test.ts
  packages/replay/src/coreHandlers/handleDom.ts
  packages/replay/src/coreHandlers/handleSlowClick.ts
  packages/replay/src/types.ts
Labels: Package: replay

#8122 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8094 fix(sveltekit): Avoid double-wrapping load functions
  packages/sveltekit/src/client/load.ts
  packages/sveltekit/src/common/utils.ts
  packages/sveltekit/src/server/load.ts
  packages/sveltekit/test/client/load.test.ts
  packages/sveltekit/test/server/load.test.ts
Labels: Package: SvelteKit

#8189 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8083 ref(sveltekit): Improve auto-instrumentation applicability check
  packages/sveltekit/package.json
  packages/sveltekit/src/vite/autoInstrument.ts
  packages/sveltekit/test/vite/autoInstrument.test.ts
  yarn.lock
Labels: Package: SvelteKit

#8210 [Gitflow] Merge master into develop
  CHANGELOG.md
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/browser-integration-tests/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/e2e-tests/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-integration-tests/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/overhead-metrics/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#8086 feat(replay): Throttle breadcrumbs to max 300/5s
  packages/browser-integration-tests/suites/replay/throttleBreadcrumbs/init.js
  packages/browser-integration-tests/suites/replay/throttleBreadcrumbs/subject.js
  packages/browser-integration-tests/suites/replay/throttleBreadcrumbs/template.html
  packages/browser-integration-tests/suites/replay/throttleBreadcrumbs/test.ts
  packages/browser-integration-tests/utils/replayHelpers.ts
  packages/replay/.eslintrc.js
  packages/replay/src/coreHandlers/util/addBreadcrumbEvent.ts
  packages/replay/src/replay.ts
  packages/replay/src/types.ts
  packages/replay/src/util/createPerformanceSpans.ts
  packages/replay/src/util/throttle.ts
  packages/replay/test/unit/util/throttle.test.ts
Labels: Package: replay, CI-Overhead-Measurements

#8246 fix(replay): Guard against missing key
  packages/replay/src/coreHandlers/handleKeyboardEvent.ts
Labels: Type: Bug, Package: replay

#8222 test(replay): Skip firefox for flakey tests
  packages/browser-integration-tests/suites/replay/sessionExpiry/test.ts
  packages/browser-integration-tests/suites/replay/slowClick/mutation/test.ts
Labels: Package: replay
