Repository getsentry/sentry-javascript, pull requests merged in 2024-04, with the labels that each got.

#11481 [Gitflow] Merge master into develop
  .craft.yml
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/event-proxy-server/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#11413 feat(core): Ensure replay envelopes are sent in order when offline
  dev-packages/browser-integration-tests/playwright.config.ts
  dev-packages/browser-integration-tests/suites/replay/captureReplayOffline/init.js
  dev-packages/browser-integration-tests/suites/replay/captureReplayOffline/template.html
  dev-packages/browser-integration-tests/suites/replay/captureReplayOffline/test.ts
  dev-packages/browser-integration-tests/suites/transport/offline/init.js
  packages/browser/src/transports/offline.ts
  packages/browser/test/unit/transports/offline.test.ts
  packages/core/src/transports/offline.ts
  packages/core/test/lib/transports/offline.test.ts
Labels: Type: Breaking

#11616 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/event-proxy-server/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#11625 fix(nextjs): Escape Next.js' OpenTelemetry instrumentation
  packages/nextjs/src/common/utils/commonObjectTracing.ts
  packages/nextjs/src/common/utils/edgeWrapperUtils.ts
  packages/nextjs/src/common/utils/tracingUtils.ts
  packages/nextjs/src/common/utils/withIsolationScopeOrReuseFromRootSpan.ts
  packages/nextjs/src/common/utils/wrapperUtils.ts
  packages/nextjs/src/common/withServerActionInstrumentation.ts
  packages/nextjs/src/common/wrapApiHandlerWithSentry.ts
  packages/nextjs/src/common/wrapApiHandlerWithSentryVercelCrons.ts
  packages/nextjs/src/common/wrapGenerationFunctionWithSentry.ts
  packages/nextjs/src/common/wrapMiddlewareWithSentry.ts
  packages/nextjs/src/common/wrapPageComponentWithSentry.ts
  packages/nextjs/src/common/wrapRouteHandlerWithSentry.ts
  packages/nextjs/src/common/wrapServerComponentWithSentry.ts
  packages/nextjs/src/config/templates/apiWrapperTemplate.ts
  packages/nextjs/src/edge/wrapApiHandlerWithSentry.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/requestIsolationScopeIntegration.ts
  packages/nextjs/test/config/withSentry.test.ts
  packages/nextjs/test/edge/withIsolationScopeOrReuseFromRootSpan.test.ts
  packages/nextjs/test/edge/withSentryAPI.test.ts
  packages/nextjs/test/server/withIsolationScopeOrReuseFromRootSpan.test.ts
Labels: ci-skip-cache

#11700 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/event-proxy-server/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#11772 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/event-proxy-server/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#11852 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/event-proxy-server/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
