Repository getsentry/sentry-javascript, pull requests merged in 2024-02, with the labels that each got.

#10524 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  lerna.json
  packages/angular-ivy/package.json
  packages/angular/package.json
  packages/astro/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/core/src/version.ts
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/hub/package.json
  packages/integration-shims/package.json
  packages/integrations/package.json
  packages/nextjs/package.json
  packages/node-experimental/package.json
  packages/node/package.json
  packages/opentelemetry-node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-worker/package.json
  packages/replay/package.json
  packages/serverless/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/tracing-internal/package.json
  packages/tracing/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#10534 build(profiling-node): make sure debug build plugin is used
  .github/workflows/build.yml
  dev-packages/e2e-tests/package.json
  packages/profiling-node/rollup.npm.config.mjs
  yarn.lock
Labels: ci-skip-cache

#10554 feat(core): Add metric summaries to spans
  dev-packages/node-integration-tests/suites/tracing/metric-summaries/scenario.js
  dev-packages/node-integration-tests/suites/tracing/metric-summaries/test.ts
  packages/core/src/metrics/aggregator.ts
  packages/core/src/metrics/browser-aggregator.ts
  packages/core/src/metrics/constants.ts
  packages/core/src/metrics/metric-summary.ts
  packages/core/src/metrics/utils.ts
  packages/core/src/tracing/span.ts
  packages/core/src/tracing/transaction.ts
  packages/types/src/event.ts
  packages/types/src/index.ts
  packages/types/src/span.ts
Labels: Type: Feature, Feature: Metrics
