Repository getsentry/sentry-javascript, pull requests merged in 2024-09, with the labels that each got.

#13567 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/clear-cache-gh-action/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13561 feat(solidstart): Add `browserTracingIntegration` by default
  packages/solidstart/src/client/sdk.ts
  packages/solidstart/test/client/sdk.test.ts
Labels: Package: solidstart

#13493 feat(solidstart): Add `sentrySolidStartVite` plugin to simplify source maps upload
  .github/workflows/build.yml
  dev-packages/e2e-tests/test-applications/solidstart/app.config.ts
  dev-packages/e2e-tests/test-applications/solidstart/package.json
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/client-error.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/error-boundary.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/index.tsx
  dev-packages/e2e-tests/test-applications/solidstart/tests/errorboundary.test.ts
  dev-packages/e2e-tests/test-applications/solidstart/tests/errors.client.test.ts
  packages/solidstart/.eslintrc.js
  packages/solidstart/README.md
  packages/solidstart/src/index.server.ts
  packages/solidstart/src/index.types.ts
  packages/solidstart/src/vite/index.ts
  packages/solidstart/src/vite/sentrySolidStartVite.ts
  packages/solidstart/src/vite/sourceMaps.ts
  packages/solidstart/src/vite/types.ts
  packages/solidstart/test/server/withServerActionInstrumentation.test.ts
  packages/solidstart/test/vite/sentrySolidStartVite.test.ts
  packages/solidstart/test/vite/sourceMaps.test.ts
Labels: Package: solidstart

#13591 chore(javascript): Update READMEs of Solid and SolidStart SDKs to indicate beta status
  packages/solid/README.md
  packages/solidstart/README.md
Labels: Package: solid, Package: solidstart

#13583 feat(nuxt): Add server config to root folder
  dev-packages/e2e-tests/test-applications/nuxt-3/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/vite/addServerConfig.ts
  packages/nuxt/src/vite/utils.ts
  packages/nuxt/test/vite/utils.test.ts
Labels: Package: nuxt

#13654 build: Add codecov test analytics for playwright tests
  .github/workflows/build.yml
  dev-packages/browser-integration-tests/package.json
  dev-packages/browser-integration-tests/playwright.config.ts
  dev-packages/e2e-tests/test-applications/ember-classic/playwright.config.ts
  dev-packages/e2e-tests/test-applications/ember-embroider/playwright.config.ts
  dev-packages/e2e-tests/test-applications/node-express-send-to-sentry/playwright.config.mjs
  dev-packages/e2e-tests/test-applications/react-send-to-sentry/playwright.config.mjs
  dev-packages/test-utils/src/playwright-config.ts
  packages/remix/package.json
  packages/remix/playwright.config.ts
Labels: ci-codecov-ai-review

#13068 fix(feedback): Fix form width on mobile devices
  packages/feedback/src/modal/components/Dialog.css.ts
Labels: Feature: User Feedback

#13789 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/clear-cache-gh-action/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
