Repository getsentry/sentry-javascript, pull requests merged in 2024-12, with the labels that each got.

#14674 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/clear-cache-gh-action/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/nitro-utils/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#14683 fix(feedback): Return when the `sendFeedback` promise resolves
  packages/feedback/src/core/sendFeedback.ts
Labels: Feature: User Feedback

#14699 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/clear-cache-gh-action/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/nitro-utils/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#14606 feat(node)!: Remove fine grained `registerEsmLoaderHooks` option and `addOpenTelemetryInstrumentation()`
  dev-packages/e2e-tests/test-applications/node-express-esm-loader/src/instrument.mjs
  dev-packages/node-integration-tests/suites/esm/import-in-the-middle/app.mjs
  dev-packages/node-integration-tests/suites/esm/import-in-the-middle/test.ts
  packages/astro/src/index.server.ts
  packages/aws-serverless/src/index.ts
  packages/bun/src/index.ts
  packages/google-cloud-serverless/src/index.ts
  packages/node/src/index.ts
  packages/node/src/sdk/index.ts
  packages/node/src/sdk/initOtel.ts
  packages/node/src/types.ts
  packages/nuxt/src/server/sdk.ts
  packages/nuxt/test/server/sdk.test.ts
  packages/opentelemetry/src/index.ts
  packages/opentelemetry/src/instrumentation.ts
  packages/remix/src/index.server.ts
  packages/solidstart/src/server/index.ts
  packages/sveltekit/src/server/index.ts
Labels: ci-skip-cache
