Repository getsentry/sentry-javascript, pull requests merged in 2024-08, with the labels that each got.

#13149 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13192 feat(cloudflare): Allow users to pass handler to sentryPagesPlugin
  packages/cloudflare/README.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/pages-plugin.ts
  packages/cloudflare/test/pages-plugin.test.ts
Labels: Package: cloudflare

#13206 chore(cloudflare): Add cloudflare sdk to the release registry
  .craft.yml
Labels: Package: cloudflare

#13222 feat(solidstart): Filter out low quality transactions for build assets
  packages/solidstart/src/server/sdk.ts
  packages/solidstart/src/server/utils.ts
  packages/solidstart/test/server/sdk.test.ts
  packages/types/src/eventprocessor.ts
Labels: Package: solidstart

#13221 feat(solidstart): Add sentry `onBeforeResponse` middleware to enable distributed tracing
  packages/solidstart/README.md
  packages/solidstart/package.json
  packages/solidstart/rollup.npm.config.mjs
  packages/solidstart/src/middleware.ts
  packages/solidstart/test/middleware.test.ts
  packages/solidstart/tsconfig.subexports-types.json
  packages/solidstart/tsconfig.types.json
Labels: Package: solidstart

#13234 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13251 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13261 fix(browser): Initialize default integration if `defaultIntegrations: undefined`
  .size-limit.js
  packages/browser/src/sdk.ts
  packages/browser/test/sdk.test.ts
Labels: Package: browser

#13268 chore(solidstart): Add sourcemap instructions to README
  packages/solidstart/README.md
Labels: Package: solidstart

#13274 ref(solidstart): Use core's getTraceMetaTags over own implementation
  packages/solidstart/src/middleware.ts
  packages/solidstart/test/middleware.test.ts
Labels: Package: solidstart

#13290 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13289 chore(solidstart): Add solidstart sdk to the registry in .craft.yml
  .craft.yml
Labels: Package: solidstart

#13494 ref(solidstart): Simplify middleware structure without subexport
  packages/solidstart/README.md
  packages/solidstart/package.json
  packages/solidstart/rollup.npm.config.mjs
  packages/solidstart/src/server/index.ts
  packages/solidstart/src/server/middleware.ts
  packages/solidstart/test/server/middleware.test.ts
  packages/solidstart/tsconfig.subexports-types.json
  packages/solidstart/tsconfig.types.json
Labels: Package: solidstart
