Repository getsentry/sentry-javascript, pull requests merged in 2024-07, with the labels that each got.

#12753 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12780 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12760 feat(nuxt): Inject sentry config with Nuxt `addPluginTemplate`
  packages/nuxt/README.md
  packages/nuxt/rollup.npm.config.mjs
  packages/nuxt/src/common/snippets.ts
  packages/nuxt/src/index.server.ts
  packages/nuxt/src/index.types.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/server/index.ts
  packages/nuxt/src/server/sdk.ts
  packages/nuxt/test/common/snippets.test.ts
Labels: Package: nuxt

#12796 feat(nuxt): Add server error hook
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/sentry.server.ts
  packages/nuxt/src/runtime/utils.ts
  packages/nuxt/test/client/runtime/utils.test.ts
Labels: Package: nuxt

#12821 build(nuxt): Add nuxt to craft
  .craft.yml
  packages/nuxt/README.md
Labels: Package: nuxt

#12835 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12848 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12850 docs(nuxt): Add additional information in readme
  packages/nuxt/README.md
Labels: Package: nuxt

#12873 test(solidstart): Add solidstart e2e test app
  biome.json
  dev-packages/e2e-tests/test-applications/solid-solidrouter/package.json
  dev-packages/e2e-tests/test-applications/solid/package.json
  dev-packages/e2e-tests/test-applications/solidstart/.gitignore
  dev-packages/e2e-tests/test-applications/solidstart/.npmrc
  dev-packages/e2e-tests/test-applications/solidstart/README.md
  dev-packages/e2e-tests/test-applications/solidstart/app.config.ts
  dev-packages/e2e-tests/test-applications/solidstart/package.json
  dev-packages/e2e-tests/test-applications/solidstart/playwright.config.mjs
  dev-packages/e2e-tests/test-applications/solidstart/public/favicon.ico
  dev-packages/e2e-tests/test-applications/solidstart/src/app.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/entry-client.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/entry-server.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/instrument.server.mjs
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/client-error.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/index.tsx
  dev-packages/e2e-tests/test-applications/solidstart/start-event-proxy.mjs
  dev-packages/e2e-tests/test-applications/solidstart/tests/errorboundary.test.ts
  dev-packages/e2e-tests/test-applications/solidstart/tests/errors.client.test.ts
  dev-packages/e2e-tests/test-applications/solidstart/tsconfig.json
  dev-packages/e2e-tests/test-applications/solidstart/vitest.config.ts
Labels: Package: solidstart

#12895 test(solidstart): Add client performance e2e tests
  dev-packages/e2e-tests/test-applications/solidstart/package.json
  dev-packages/e2e-tests/test-applications/solidstart/src/app.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/entry-client.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/index.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/users/[id].tsx
  dev-packages/e2e-tests/test-applications/solidstart/tests/performance.client.test.ts
Labels: Package: solidstart

#12988 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13039 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#13035 feat(solidstart): Add server action instrumentation helper
  dev-packages/e2e-tests/test-applications/solidstart/package.json
  dev-packages/e2e-tests/test-applications/solidstart/src/entry-client.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/instrument.server.mjs
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/index.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/server-error.tsx
  dev-packages/e2e-tests/test-applications/solidstart/src/routes/users/[id].tsx
  dev-packages/e2e-tests/test-applications/solidstart/tests/errors.server.test.ts
  dev-packages/e2e-tests/test-applications/solidstart/tests/performance.server.test.ts
  packages/solidstart/package.json
  packages/solidstart/rollup.npm.config.mjs
  packages/solidstart/src/index.types.ts
  packages/solidstart/src/server/index.ts
  packages/solidstart/src/server/utils.ts
  packages/solidstart/src/server/withServerActionInstrumentation.ts
  packages/solidstart/test/server/withServerActionInstrumentation.test.ts
  scripts/node-unit-tests.ts
Labels: Package: solidstart

#13130 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/solidstart/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
