Repository getsentry/sentry-javascript, pull requests merged in 2024-06, with the labels that each got.

#12328 feat(solidjs): Add e2e tests
  .github/workflows/build.yml
  dev-packages/e2e-tests/test-applications/solidjs/.gitignore
  dev-packages/e2e-tests/test-applications/solidjs/.npmrc
  dev-packages/e2e-tests/test-applications/solidjs/README.md
  dev-packages/e2e-tests/test-applications/solidjs/index.html
  dev-packages/e2e-tests/test-applications/solidjs/package.json
  dev-packages/e2e-tests/test-applications/solidjs/playwright.config.mjs
  dev-packages/e2e-tests/test-applications/solidjs/postcss.config.js
  dev-packages/e2e-tests/test-applications/solidjs/src/errors/404.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/index.css
  dev-packages/e2e-tests/test-applications/solidjs/src/index.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/pageroot.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/pages/home.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/pages/user.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/routes.ts
  dev-packages/e2e-tests/test-applications/solidjs/start-event-proxy.mjs
  dev-packages/e2e-tests/test-applications/solidjs/tailwind.config.ts
  dev-packages/e2e-tests/test-applications/solidjs/tests/errors.test.ts
  dev-packages/e2e-tests/test-applications/solidjs/tests/performance.test.ts
  dev-packages/e2e-tests/test-applications/solidjs/tsconfig.json
  dev-packages/e2e-tests/test-applications/solidjs/vite.config.ts
Labels: Package: solidjs

#12374 feat(solidjs): Add solid router unit tests
  packages/solidjs/package.json
  packages/solidjs/test/solidrouter.test.tsx
  yarn.lock
Labels: Package: solidjs

#12401 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solidjs/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12425 feat(solidjs): Add sourcemap instructions to README
  packages/solidjs/README.md
Labels: Package: solidjs

#12421 feat(solidjs): Add `withSentryErrorBoundary` HOC
  dev-packages/e2e-tests/test-applications/solidjs/src/pageroot.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/pages/errorboundaryexample.tsx
  dev-packages/e2e-tests/test-applications/solidjs/src/routes.ts
  dev-packages/e2e-tests/test-applications/solidjs/tests/errorboundary.test.ts
  packages/solidjs/README.md
  packages/solidjs/package.json
  packages/solidjs/src/errorboundary.ts
  packages/solidjs/src/index.ts
  packages/solidjs/test/errorboundary.test.tsx
  packages/solidjs/tsconfig.test.json
  yarn.lock
Labels: Package: solidjs

#12436 feat(solid): Rename solidjs package to solid
  .github/workflows/build.yml
  dev-packages/e2e-tests/test-applications/solid/.gitignore
  dev-packages/e2e-tests/test-applications/solid/.npmrc
  dev-packages/e2e-tests/test-applications/solid/README.md
  dev-packages/e2e-tests/test-applications/solid/index.html
  dev-packages/e2e-tests/test-applications/solid/package.json
  dev-packages/e2e-tests/test-applications/solid/playwright.config.mjs
  dev-packages/e2e-tests/test-applications/solid/postcss.config.js
  dev-packages/e2e-tests/test-applications/solid/src/errors/404.tsx
  dev-packages/e2e-tests/test-applications/solid/src/index.css
  dev-packages/e2e-tests/test-applications/solid/src/index.tsx
  dev-packages/e2e-tests/test-applications/solid/src/pageroot.tsx
  dev-packages/e2e-tests/test-applications/solid/src/pages/errorboundaryexample.tsx
  dev-packages/e2e-tests/test-applications/solid/src/pages/home.tsx
  dev-packages/e2e-tests/test-applications/solid/src/pages/user.tsx
  dev-packages/e2e-tests/test-applications/solid/src/routes.ts
  dev-packages/e2e-tests/test-applications/solid/start-event-proxy.mjs
  dev-packages/e2e-tests/test-applications/solid/tailwind.config.ts
  dev-packages/e2e-tests/test-applications/solid/tests/errorboundary.test.ts
  dev-packages/e2e-tests/test-applications/solid/tests/errors.test.ts
  dev-packages/e2e-tests/test-applications/solid/tests/performance.test.ts
  dev-packages/e2e-tests/test-applications/solid/tsconfig.json
  dev-packages/e2e-tests/test-applications/solid/vite.config.ts
  dev-packages/e2e-tests/verdaccio-config/config.yaml
  package.json
  packages/solid/.eslintrc.js
  packages/solid/LICENSE
  packages/solid/README.md
  packages/solid/package.json
  packages/solid/rollup.npm.config.mjs
  packages/solid/src/debug-build.ts
  packages/solid/src/errorboundary.ts
  packages/solid/src/index.ts
  packages/solid/src/sdk.ts
  packages/solid/src/solidrouter.ts
  packages/solid/test/errorboundary.test.tsx
  packages/solid/test/sdk.test.ts
  packages/solid/test/solidrouter.test.tsx
  packages/solid/tsconfig.json
  packages/solid/tsconfig.test.json
  packages/solid/tsconfig.types.json
  packages/solid/vite.config.ts
  scripts/node-unit-tests.ts
  yarn.lock
Labels: Package: solidjs

#12426 feat(solidjs): Add entry for Solid SDK to .craft.yml
  .craft.yml
Labels: Package: solidjs

#12448 feat(solid): Update README to indicate alpha release
  packages/solid/README.md
Labels: Package: solidjs

#12464 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12474 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12559 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12573 feat(nuxt): Add base boilerplate for nuxt
  dev-packages/e2e-tests/verdaccio-config/config.yaml
  package.json
  packages/nuxt/.eslintrc.js
  packages/nuxt/LICENSE
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/nuxt/src/client/index.ts
  packages/nuxt/src/client/sdk.ts
  packages/nuxt/src/common/types.ts
  packages/nuxt/src/index.client.ts
  packages/nuxt/src/index.server.ts
  packages/nuxt/src/index.types.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/sentry.client.ts
  packages/nuxt/test/client/sdk.test.ts
  packages/nuxt/test/tsconfig.json
  packages/nuxt/test/vitest.setup.ts
  packages/nuxt/tsconfig.json
  packages/nuxt/tsconfig.test.json
  packages/nuxt/tsconfig.types.json
  packages/nuxt/vite.config.ts
  packages/vue/src/integration.ts
  scripts/node-unit-tests.ts
  yarn.lock
Labels: Package: nuxt

#12638 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow

#12676 [Gitflow] Merge master into develop
  CHANGELOG.md
  dev-packages/browser-integration-tests/package.json
  dev-packages/bundle-analyzer-scenarios/package.json
  dev-packages/e2e-tests/package.json
  dev-packages/external-contributor-gh-action/package.json
  dev-packages/node-integration-tests/package.json
  dev-packages/overhead-metrics/package.json
  dev-packages/rollup-utils/package.json
  dev-packages/size-limit-gh-action/package.json
  dev-packages/test-utils/package.json
  lerna.json
  packages/angular/package.json
  packages/astro/package.json
  packages/aws-serverless/package.json
  packages/browser-utils/package.json
  packages/browser/package.json
  packages/bun/package.json
  packages/core/package.json
  packages/deno/package.json
  packages/ember/package.json
  packages/eslint-config-sdk/package.json
  packages/eslint-plugin-sdk/package.json
  packages/feedback/package.json
  packages/gatsby/package.json
  packages/google-cloud-serverless/package.json
  packages/integration-shims/package.json
  packages/nestjs/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/opentelemetry/package.json
  packages/profiling-node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/replay-canvas/package.json
  packages/replay-internal/package.json
  packages/replay-worker/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/sveltekit/package.json
  packages/types/package.json
  packages/typescript/package.json
  packages/utils/package.json
  packages/utils/src/version.ts
  packages/vercel-edge/package.json
  packages/vue/package.json
  packages/wasm/package.json
Labels: Dev: Gitflow
